{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-description-product">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="{{ asset("bundles/diplonauticlanding/images/Picto2.png")}}" alt="">
                            </div>
                            <div class="col-sm-11">
                                <h1 class="h4">{%trans%}products.ac.title{%endtrans%}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1">
                                <p>{%trans%}air.intro{%endtrans%}
                                    <ul>
                                        <li>{%trans%}air.compact_machine{%endtrans%}</li>
                                        <li>{%trans%}air.split_machine{%endtrans%}</li>
                                        <li>{%trans%}air.chiller_machine{%endtrans%}</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <p>{%trans%}air.closing{%endtrans%}</p>
                                <p class="link-products">{%trans%}air.message_link{%endtrans%}<a href="#"><strong>LINK</strong></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-1 languages hidden-xs">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %}>
                                CAT
                            </a>
                        </div>
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %}>
                                EN
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
