{% extends 'DiplonauticLandingBundle::layout.html.twig' %}

{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-7 main-description-product">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="{{ asset("bundles/diplonauticlanding/images/Picto2.png")}}" alt="">
                            </div>
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4>AIRE ACONDICIONAT</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-2">
                                <p>Lucas ipsum dolor sit amet bib maarek mandalorians gamorr shaak tarasin evazan
                                    colton chirrpa subterrel. Marek verpine windu omwati. 
                                </p>
                                <p>Skirata paploo chagrian mara darth cassio sneevel.
                                    Corran aleena obi-wan kubaz atrivis jubnuk. Theelin duro darth golda dak dashade droch.
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <p>Lucas ipsum dolor sit amet lobot kashyyyk kenobi coruscant darth mon ventress jar
                                    darth maul. Moff antilles thrawn kamino. Secura tatooine wampa sidious cade.
                                    Jabba bespin gonk fisto lando bothan jade dooku sidious.
                                    Calamari hutt fett windu kenobi calrissian chewbacca owen.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 main-marks">
                        
                    </div>
                    <div class="col-sm-1 languages">
                        <div id="cat">CAT</div>
                        <div id="en">EN</div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
