{%trans_default_domain 'general'%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block title %}{%trans%}header.cookies{%endtrans%} - Diplonautic{% endblock %}
{% block meta_title %}{%trans%}header.cookies{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-legal">
                        <div class="fixedContainer">
                            <div class="content">
                                <h1>{%trans%}header.cookies{%endtrans%}</h1>
                                <span>&nbsp;</span>
                                {% if app.request.locale == 'ca'%}
                                <p><span style="font-weight: 400;">Benvinguda/o a la <strong>POL&Iacute;TICA DE COOKIES</strong> de la p&agrave;gina web de l'entitat <strong>DIPLONAUTIC S.L.</strong> prove&iuml;da de NIF B66501818, on t'explicarem en un llenguatge clar i senzill totes les q&uuml;estions necess&agrave;ries perqu&egrave; puguis tenir el control sobre elles sobre la base de les teves decisions personals.</span></p>
                                <span>&nbsp;</span>
                                <p><strong>&iquest;QU&Egrave; S&Oacute;N LES COOKIES O GALETES INFORM&Agrave;TIQUES I PER QU&Egrave; LES UTILITZEM?&nbsp;</strong></p>
                                <p><span style="font-weight: 400;">Una cookie o galeta inform&agrave;tica &eacute;s un petit arxiu d'informaci&oacute; que es guarda en el teu ordinador, &ldquo;smartphone&rdquo; o tauleta cada vegada que visites la nostra p&agrave;gina web.</span></p>
                                <p><span style="font-weight: 400;">En principi, una cookie &eacute;s inofensiva: no cont&eacute; virus, troians, cucs, etc. que puguin danyar la teva terminal, per&ograve; s&iacute; que t&eacute; cert impacte sobre el teu dret a la protecci&oacute; de les teves dades personals, perqu&egrave; recull determinada informaci&oacute; concernent a la teva persona (h&agrave;bits de navegaci&oacute;, identitat, prefer&egrave;ncies, etc.).</span></p>
                                <p><span style="font-weight: 400;">&Eacute;s per aix&ograve; que, sobre la base del que s'estableix en la normativa aplicable (LSSI i normativa vigent de protecci&oacute; de dades personals), l'activaci&oacute; de determinats tipus de cookies necessitar&agrave; de la teva autoritzaci&oacute; pr&egrave;via.</span></p>
                                <p><span style="font-weight: 400;">Abans d'aix&ograve;, et donarem alguna informaci&oacute; addicional que t'ajudar&agrave; a una millor presa de decisions sobre aquest tema:</span></p>
                                <p><span style="font-weight: 400;">Les cookies poden ser de diversos tipus en funci&oacute; de la seva finalitat:</span></p>
                                <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Les cookies t&egrave;cniques s&oacute;n necess&agrave;ries perqu&egrave; la nostra p&agrave;gina web pugui funcionar, no necessiten de la teva autoritzaci&oacute; i s&oacute;n les &uacute;niques que tenim activades per defecte.</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">La resta de cookies serveixen per a millorar la nostra p&agrave;gina, per personalitzar-la sobre la base de les teves prefer&egrave;ncies, o per a poder mostrar-te publicitat ajustada a les teves cerques, gustos i interessos personals. Pots acceptar totes aquestes cookies prement el bot&oacute; </span><strong>ACCEPTAR</strong><span style="font-weight: 400;"> o configurar-les o rebutjar el seu &uacute;s clicant en l'apartat </span><strong>CONFIGURACI&Oacute; DE COOKIES.</strong></li>
                                </ul>
                                <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Algunes cookies s&oacute;n nostres (les denominarem </span><strong>cookies pr&ograve;pies</strong><span style="font-weight: 400;">) i unes altres pertanyen a empreses externes que presten serveis per a la nostra p&agrave;gina web (les denominarem </span><strong>cookies de tercers</strong><span style="font-weight: 400;">: un exemple podrien ser les cookies de prove&iuml;dors externs com Google). En aquest sentit, &eacute;s important que s&agrave;pigues que alguns d'aquests prove&iuml;dors externs poden estar situats fora d'Espanya.</span></li>
                                </ul>
                                <span>&nbsp;</span>
                                <p><span style="font-weight: 400;">A nivell mundial, no tots els pa&iuml;sos tenen un mateix nivell de protecci&oacute; de dades, existint alguns pa&iuml;sos m&eacute;s segurs que uns altres (per exemple, la Uni&oacute; Europea &eacute;s un entorn segur per a les teves dades). La nostra pol&iacute;tica &eacute;s rec&oacute;rrer a prove&iuml;dors de confian&ccedil;a que, amb independ&egrave;ncia que es trobin o no situats a la Uni&oacute; Europea, hagin adoptat les garanties adequades per a la protecci&oacute; de la teva informaci&oacute; personal. No obstant aix&ograve;, en l'apartat denominat </span><strong>QUIN TIPUS DE COOKIES S'UTILITZEN ACTUALMENT EN LA NOSTRA P&Agrave;GINA WEB?, </strong><span style="font-weight: 400;">pots consultar les diferents Pol&iacute;tiques de privacitat i protecci&oacute; de dades de cadascun dels referits prove&iuml;dors externs, a fi de prendre una decisi&oacute; conscient sobre l'activaci&oacute; o no de les </span><strong>cookies de tercers</strong><span style="font-weight: 400;"> que utilitza la nostra p&agrave;gina web.&nbsp;</span></p>
                                <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Finalment, indicar-te que, en funci&oacute; del termini de temps que romanen actives, les cookies poden ser de dos tipus:</span></li>
                                </ul>
                                <ul>
                                <li style="font-weight: 400;"><strong>Cookies de sessi&oacute;:</strong><span style="font-weight: 400;"> expiren autom&agrave;ticament quan acabes la sessi&oacute; en el teu ordinador, &ldquo;tel&egrave;fon intel&middot;ligent&rdquo; o tauleta. Solen emprar-se per a conservar la informaci&oacute; necess&agrave;ria mentre se't presta un servei en una sola ocasi&oacute;.</span></li>
                                </ul>
                                <ul>
                                <li style="font-weight: 400;"><strong>Cookies persistents:</strong><span style="font-weight: 400;"> romanen emmagatzemades en el teu ordinador, &ldquo;tel&egrave;fon intel&middot;ligent&rdquo; o tauleta durant un per&iacute;ode determinat, que pot variar des d'uns minuts fins a diversos anys.</span></li>
                                </ul>
                                <span>&nbsp;</span>
                                <ul>
                                <li><strong><strong>QUIN TIPUS DE COOKIES PODEM UTILITZAR EN LA NOSTRA P&Agrave;GINA WEB?</strong></strong></li>
                                    <ul>
                                        <li><strong><strong>Cookies T&egrave;cniques:</strong></strong></li>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">Les cookies t&egrave;cniques s&oacute;n estrictament necess&agrave;ries perqu&egrave; la nostra p&agrave;gina web funcioni i puguis navegar per aquesta. Aquest tipus de cookies s&oacute;n les que, per exemple, ens permeten identificar-te, donar-te acc&eacute;s a determinades parts restringides de la p&agrave;gina si fos necessari, o recordar diferents opcions o serveis ja seleccionats per tu, com les teves prefer&egrave;ncies de privacitat. Per aix&ograve;, </span><strong>estan activades per defecte, no sent necess&agrave;ria la teva autoritzaci&oacute; sobre aquest tema.</strong></p>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">A trav&eacute;s de la configuraci&oacute; del teu navegador, pots bloquejar o alertar de la pres&egrave;ncia d'aquesta mena de cookies, si b&eacute; aquest bloqueig afectar&agrave; el correcte funcionament de les diferents funcionalitats de la nostra p&agrave;gina web.</span></p>
                                            <span>&nbsp;</span>
                                        <li><strong><strong>Cookies d'An&agrave;lisis:</strong></strong></li>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">Les cookies d'an&agrave;lisis ens permeten estudiar la navegaci&oacute; dels usuaris de la nostra p&agrave;gina web en general (per exemple, quines seccions de la p&agrave;gina s&oacute;n les m&eacute;s visitades, quins serveis s'usen m&eacute;s i si funcionen correctament, etc.).</span></p>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">A partir de la informaci&oacute; estad&iacute;stica sobre la navegaci&oacute; en la nostra p&agrave;gina web, podem millorar tant el propi funcionament de la p&agrave;gina com els diferents serveis que ofereix. Per tant, aquestes cookies </span><strong>no tenen una finalitat publicit&agrave;ria</strong><span style="font-weight: 400;">, sin&oacute; que &uacute;nicament serveixen perqu&egrave; la nostra p&agrave;gina web funcioni millor, adaptant-se als nostres usuaris en general. Activant-les contribuir&agrave;s a aquesta millora cont&iacute;nua.</span></p>
                                            <span>&nbsp;</span>
                                            <p><strong>Pots activar o desactivar aquestes cookie marcant la casella corresponent,</strong><span style="font-weight: 400;"> estant desactivades per defecte.</span></p>
                                            <span>&nbsp;</span>
                                        <li><strong><strong>Cookies de Funcionalitat i Personalitzaci&oacute;:</strong></strong></li>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">Les cookies de funcionalitat ens permeten recordar les teves prefer&egrave;ncies, per a personalitzar a la teva mesura determinades caracter&iacute;stiques i opcions generals de la nostra p&agrave;gina web, cada vegada que accedeixis a la mateixa (per exemple, l'idioma en qu&egrave; se't presenta la informaci&oacute;, les seccions marcades com a favorites, el teu tipus de navegador, etc.).</span></p>
                                            <p><span style="font-weight: 400;">Per tant, aquest tipus de cookies </span><strong>no tenen una finalitat publicit&agrave;ria</strong><span style="font-weight: 400;">, sin&oacute; que activant-les millorar&agrave;s la funcionalitat de la p&agrave;gina web (per exemple, adaptant-se a la teva mena de navegador) i la personalitzaci&oacute; de la mateixa sobre la base de les teves prefer&egrave;ncies (per exemple, presentant la informaci&oacute; en l'idioma que hagis triat en anteriors ocasions), la qual cosa contribuir&agrave; a la facilitat, usabilitat i comoditat de la nostra p&agrave;gina durant la teva navegaci&oacute;.</span></p>
                                            <span>&nbsp;</span>
                                            <p><strong>Pots activar o desactivar aquestes cookies marcant la casella corresponent</strong><span style="font-weight: 400;">, estant desactivades per defecte.</span></p>
                                        <li style="font-weight: 400;"><strong>Cookies de Publicitat:</strong></li>
                                            <p><span style="font-weight: 400;">Les cookies de publicitat ens permeten la gesti&oacute; dels espais publicitaris inclosos en la nostra p&agrave;gina web sobre la base de criteris com el contingut mostrat o la freq&uuml;&egrave;ncia en la qual es mostren els anuncis.</span></p>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">Aix&iacute; per exemple, si se t'ha mostrat diverses vegades un mateix anunci en la nostra p&agrave;gina web, i no has mostrat un inter&egrave;s personal fent clic sobre ell, aquest no tornar&agrave; a apar&egrave;ixer. En resum, activant aquest tipus de cookies, la publicitat mostrada en la nostra p&agrave;gina web ser&agrave; m&eacute;s &uacute;til i diversa, i menys repetitiva.</span></p>
                                            <span>&nbsp;</span>
                                            <p><strong>Pots activar o desactivar aquestes cookies marcant la casella corresponent</strong><span style="font-weight: 400;">, estant desactivades per defecte.</span></p>
                                            <span>&nbsp;</span>
                                        <li><strong><strong>Cookies de Publicitat Comportamental:</strong></strong></li>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">Les cookies de publicitat comportamental ens permeten obtenir informaci&oacute; basada en l'observaci&oacute; dels teus h&agrave;bits i comportaments de navegaci&oacute; en la web, a fi de poder mostrar-te continguts publicitaris que s'ajustin millor als teus gustos i interessos personals.</span></p>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">Perqu&egrave; ho entenguis de manera molt senzilla, et posarem un exemple fictici: si les teves &uacute;ltimes cerques en la web estiguessin relacionades amb literatura de suspens, et mostrar&iacute;em publicitat sobre llibres de suspens.</span></p>
                                            <span>&nbsp;</span>
                                            <p><span style="font-weight: 400;">Per tant, activant aquest tipus de cookies, la publicitat que et mostrem en la nostra p&agrave;gina web no ser&agrave; gen&egrave;rica, sin&oacute; que estar&agrave; orientada a les teves cerques, gustos i interessos, ajustant-se per tant exclusivament a tu.</span></p>
                                            <span>&nbsp;</span>
                                            <p><strong>Pots activar o desactivar aquestes cookies marcant la casella corresponent</strong><span style="font-weight: 400;">, estant desactivades per defecte.</span><br /><br /></p>
                                            <span>&nbsp;</span>
                                    </ul>
                                </ul>
                                <ul>
                                    <li><h3>QUIN TIPUS DE GALETES S&rsquo;UTILITZEN ACTUALMENT A LA NOSTRA P&Agrave;GINA WEB?</h3></li>
                                    <div>
                                        <p>A continuaci&oacute;, t&rsquo;informem sobre tots els tipus de galetes que actualment s&rsquo;utilitzen a la nostra p&agrave;gina web i la finalitat de cada una d&rsquo;elles:</p>
                                        <table class="cookies__tableStyle" border="1">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="text-center padding-10">Tipus de galetes</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Finalitat</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Entitat responsable i enlla&ccedil; a la seva pol&iacute;tica de privacitat i protecci&oacute; de dades&nbsp;</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Termini de temps (de sessi&oacute;/persistent)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <p class="text-center padding-10">_ga</p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">Aquesta cookie est&agrave; associada amb Google Analytics. Registre una identificaci&oacute; &uacute;nica que s&rsquo;utilitza per generar dades estad&iacute;stiques sobre com el visitant utilitza el lloc web.</span></span></span></p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">Google</p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">2 anys</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <p class="text-center padding-10">_gid</p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">Aquesta cookie est&agrave; associada amb Google Analytics. Registre una identificaci&oacute; &uacute;nica que s&rsquo;utilitza per generar dades estad&iacute;stiques sobre com el visitant utilitza el lloc web.</span></span></span></p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">Google</p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">24 hores</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <p class="text-center padding-10">_gat</p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">Aquesta cookie est&agrave; associada amb Google Analytics. S&rsquo;utilitza per accelerar el percentatge de sol&middot;licituds, limitant la recopilaci&oacute; de dades als llocs de tr&agrave;nsit elevats.</span></span></span></p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">Google</p>
                                                    </td>
                                                    <td>
                                                    <p class="text-center padding-10">1 minut</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ul>
                                <ul>
                                    <li><h3>QU&Egrave; POTS FER AMB LES GALETES?</h3></li>
                                    <div>
                                        <p><span style="font-weight: 400;">Quan accedeixes per primera vegada a la nostra p&agrave;gina web, se't mostra una finestra en la qual t'informem que les cookies poden ser de diversos tipus:</span></p>
                                        <span>&nbsp;</span>
                                        <ul>
                                        <li style="font-weight: 400;"><span style="font-weight: 400;">Les cookies t&egrave;cniques s&oacute;n necess&agrave;ries perqu&egrave; la nostra p&agrave;gina web pugui funcionar, no necessiten de la teva autoritzaci&oacute; i s&oacute;n les &uacute;niques que tenim activades per defecte.</span></li>
                                        </ul>
                                        <span>&nbsp;</span>
                                        <ul>
                                        <li style="font-weight: 400;"><span style="font-weight: 400;">La resta de cookies serveixen per a millorar la nostra p&agrave;gina, per a personalitzar-la sobre la base de les teves prefer&egrave;ncies, o per a poder mostrar-te publicitat ajustada a les teves cerques, gustos i interessos personals. Pots acceptar totes aquestes cookies prement el bot&oacute; </span><strong>ACCEPTAR</strong><span style="font-weight: 400;"> o configurar-les o rebutjar el seu &uacute;s clicant en l'apartat </span><strong>CONFIGURACI&Oacute; DE COOKIES.</strong></li>
                                        </ul>
                                        <span>&nbsp;</span>
                                        <p><span style="font-weight: 400;">Informar-te tamb&eacute; que, una vegada que hagis activat qualsevol tipus de cookies, tens la possibilitat de desactivar-les en el moment que desitgis, amb el simple pas de desmarcar la casella corresponent en l'apartat </span><strong>CONFIGURACI&Oacute; DE COOKIES</strong><span style="font-weight: 400;"> de la nostra p&agrave;gina web. Sempre ser&agrave; tan senzill per a tu activar les nostres cookies pr&ograve;pies com desactivar-les.</span></p>
                                        <p><span style="font-weight: 400;">Recordar-te aix&iacute; mateix que, a trav&eacute;s de la configuraci&oacute; del teu navegador, pots bloquejar o alertar de la pres&egrave;ncia de cookies, si b&eacute; aquest bloqueig pot afectar el correcte funcionament de les diferents funcionalitats de la nostra p&agrave;gina web en el cas de les cookies t&egrave;cniques necess&agrave;ries.&nbsp;</span></p>
                                        <p><span style="font-weight: 400;">Finalment, indicar-te que, si actives </span><strong>cookies de tercers</strong><span style="font-weight: 400;"> (empreses externes que presten serveis per a la nostra p&agrave;gina web) i posteriorment desitges desactivar-les, podr&agrave;s fer-ho de dues formes: usant les eines de desactivaci&oacute; de cookies del teu navegador o a trav&eacute;s dels propis sistemes habilitats per aquests prove&iuml;dors externs.</span></p>
                                        <span>&nbsp;</span>
                                        <p><span style="font-weight: 400;">Perqu&egrave; et sigui molt m&eacute;s f&agrave;cil, a continuaci&oacute; et relacionem una s&egrave;rie d'enlla&ccedil;os a les pautes de desactivaci&oacute; de cookies dels navegadors d'&uacute;s com&uacute;:</span></p>
                                        <ul>
                                            <li><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%253DDesktop&amp;hl=es">Google Chrome</a>.</li>
                                            <li><a href="https://support.mozilla.org/es/kb/Borrar%2520cookies">Mozilla Firefox</a>.</li>
                                            <li><a href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer">Internet Explorer</a>.</li>
                                            <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Safari</a>.</li>
                                            <li><a href="https://support.apple.com/es-es/HT201265">Safari per a IOS (iPhone i iPad)</a>.</li>
                                            <li><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%253DAndroid&amp;hl=es&amp;oco=1">Google Chrome per a Android</a>.&nbsp;</li>
                                            <li><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%253DiOS&amp;hl=es&amp;oco=1">Google Chrome per a Iphone i Ipad</a>.</li>
                                        </ul>
                                        <span>&nbsp;</span>
                                        <p><span style="font-weight: 400;">Aix&iacute; mateix, et relacionem els enlla&ccedil;os als sistemes propis habilitats per cadascun dels referits prove&iuml;dors externs per a la desactivaci&oacute; de les seves cookies</span></p>
                                        <ul>
                                            <li><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es">Google Analytics</a></li>
                                        </ul>
                                    </div>
                                </ul>
                                <p style="text-align: center;"><strong>Moltes gr&agrave;cies per la teva col&middot;laboraci&oacute;</strong></p>
                                {% else %}
                                <p>Welcome to the <strong>COOKIES POLICY</strong> of the website of the entity DIPLONAUTIC SL, provided with CIF B66501818, where we will explain in a clear and simple language all the necessary questions so that you can have control over them based on your personal decisions.</p>
                                <span>&nbsp;</span>
                                <ul>
                                    <li><h3>WHAT ARE COOKIES AND WHAT DO WE USE THEM FOR?</h3></li>
                                    <div>
                                        <p>A cookie or computer cookie is a small file of information that is stored on your computer, smartphone or tablet every time you visit our website.</p>
                                        <p>In principle, a cookie is harmless: it does not contain viruses, Trojans, worms, etc. that may damage your terminal, but it does have some impact on your right to the protection of your personal data, as it collects certain information concerning your person (browsing habits, identity, preferences, etc.).</p>
                                        <p>That is why, based on what is established in the applicable regulations (LSSI and current personal data protection regulations), the activation of certain types of cookies will require your prior authorization.</p>
                                        <p>Through <strong>a step as simple and fast as marking a box in our COOKIES CONFIGURATION section</strong>, you can give your authorization for the activation of the cookies you want<strong>: take control and enjoy a personalized navigation on our page.</strong></p>
                                        <p>Before that, we will give you some additional information that will help you to make better decisions about it:</p>
                                        <ol>
                                            <li>Cookies can be of various types depending on their purpose:</li>
                                            <ul>
                                                <li>Technical cookies are necessary for our website to work, do not need your authorization and are the only ones that we have activated by default.</li>
                                                <li>The rest of cookies can be used to improve our page, to personalize it based on your preferences, or to be able to show you advertising adjusted to your searches, tastes and personal interests. All of them we have deactivated by default, being necessary your prior authorization for its activation, which you can take by a step as simple and fast as the marking of a box in our <strong>COOKIES CONFIGURATION </strong>section.</li>
                                            </ul>
                                            <span>&nbsp;</span>
                                            <li>Some cookies are ours (we will call them <strong>own cookies</strong>) and others belong to external companies that provide services for our website (we will call them <strong>third-party cookies</strong>: an example could be cookies from external providers such as Google). In this regard, it is important that you know that some of these external suppliers may be located outside of Spain.</li>
                                            <p>Globally, not all countries have the same level of data protection, with some countries being safer than others (for example, the European Union is a secure environment for your data). Our policy is to rely on reliable suppliers who, regardless of whether or not they are located in the European Union, have adopted the appropriate guarantees for the protection of your personal information. However, in the section called <strong>WHAT KIND OF COOKIES ARE CURRENTLY USED ON OUR WEBSITE ?</strong>, you can consult the different Privacy and data protection policies of each of the aforementioned external providers, in order to make a conscious decision on the activation or not of <strong>third-party cookies</strong> used by our website.</p>
                                            <span>&nbsp;</span>
                                            <li>Finally, indicate that, depending on the period of time they remain active, cookies can be of two types:</li>
                                            <ul>
                                                <li><strong>Session cookies</strong>: they expire automatically when you finish the session on your computer, smartphone or tablet. They are usually used to keep the necessary information while providing a service only once.</li>
                                                <li><strong>Persistent cookies</strong>: they remain stored on your computer, &quot;smartphone&quot; or tablet for a certain period, which can vary from a few minutes to several years.</li>
                                            </ul>
                                        </ol>
                                    </div>
                                </ul>
                                <ul>
                                    <li><h3>WHAT KIND OF COOKIES CAN WE USE ON OUR WEBSITE?</h3></li>
                                    <div>
                                        <ul>
                                            <li><strong>Technical Cookies:</strong></li>
                                            <p>Technical cookies are strictly necessary for our website to work and you can navigate through it. These types of cookies are those that, for example, allow us to identify you, give you access to certain restricted parts of the page if necessary, or remember different options or services already selected by you, such as your privacy preferences. Therefore, they are activated by default, <strong>your authorization not being necessary in this regard.</strong></p>
                                            <p>Through the configuration of your browser, you can block or alert the presence of this type of cookies, although such blocking will affect the proper functioning of the different functionalities of our website.</p>
                                            <span>&nbsp;</span>
                                            <li><strong>Analysis Cookies:</strong></li>
                                            <p>The analysis cookies allow us to study the navigation of the users of our website in general (for example, which sections of the page are the most visited, which services are used most and if they work correctly, etc.).</p>
                                            <p>From the statistical information on navigation on our website, we can improve both the operation of the page itself and the different services it offers. Therefore, these cookies <strong>do not have an advertising purpose</strong>, but only serve to make our website work better, adapting to our users in general. By activating them you will contribute to this continuous improvement.</p>
                                            <p><strong>You can enable or disable these cookies by checking the corresponding box</strong>, being disabled by default.</p>
                                            <span>&nbsp;</span>
                                            <li><strong>Functionality and Personalization Cookies:</strong></li>
                                            <p>Functionality cookies allow us to remember your preferences, to personalize certain characteristics and general options of our website, every time you access it (for<strong> </strong>example, the language in which the information is presented to you, the sections marked as favorites, your browser type, etc.)</p>
                                            <p>Therefore, these types of cookies <strong>do not have an advertising purpose</strong>, but by activating them you will improve the functionality of the website (for example, adapting to your type of browser) and the customization of it based on your preferences (for example, by presenting the information in the language that you have chosen in previous occasions), which will contribute to the ease, usability and comfort of our page during your navigation.</p>
                                            <p><strong>You can enable or disable these cookies by checking the corresponding box</strong>, being disabled by default.</p>
                                            <span>&nbsp;</span>
                                            <li><strong>Advertising Cookies</strong><strong>:</strong></li>
                                            <p>Advertising cookies allow us to manage the advertising spaces included in our website based on criteria such as the content shown or the frequency in which the ads are displayed.</p>
                                            <p>For example, if you have been shown the same ad several times on our website, and you have not shown a personal interest by clicking on it, it will not appear again. In summary, by activating this type of cookies, the advertising shown on our website will be more useful and diverse, and less repetitive.</p>
                                            <p><strong>You can enable or disable these cookies by checking the corresponding box</strong>, being disabled by default.</p>
                                            <span>&nbsp;</span>
                                            <li><strong>Behavioral Advertising Cookies:</strong></li>
                                            <p>Behavioral advertising cookies allow us to obtain information based on the observation of your browsing habits and behaviors on the web, in order to show you advertising content that best suits your personal tastes and interests.</p>
                                            <p>To understand it in a very simple way, we will give you a fictitious example: if your last searches on the web were related to suspense literature, we would show you advertising about suspense books.</p>
                                            <p>Therefore, activating this type of cookies, the advertising that we show you on our website will not be generic, but will be oriented to your searches, tastes and interests, therefore adjusting exclusively to you.</p>
                                            <p><strong>You can enable or disable these cookies by checking the corresponding box</strong>, being disabled by default.</p>
                                        </ul>
                                    </div>
                                </ul>
                                <ul>
                                    <li><h3>WHAT KIND OF COOKIES ARE CURRENTLY USED ON OUR WEBSITE?</h3></li>
                                    <div>
                                        <p>Next, we proceed to inform you about all types of cookies that are currently used on our website and the purpose of each of them:</p>
                                        <table class="cookies__tableStyle" border="1">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="text-center padding-10">Type of cookie</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Purpose</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Responsible entity and link to its privacy and data protection policy</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Timeframe (session / persistent)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="text-center padding-10">_ga</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">This cookie is associated with Google Analytics. It register a unique identification used to generate statistical data on how the visitor uses the website.</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Google</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">2 years</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="text-center padding-10">_gid</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">This cookie is associated with Google Analytics. It register a unique identification used to generate statistical data on how the visitor uses the website.</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">Google</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">24 hours</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="text-center padding-10">_gat</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">This cookie is associated with Google Analytics. It is used to accelerate the percentage of applications, limiting the collection of data to high traffic sites.</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10"><strong>Google</p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center padding-10">1 minut</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ul>
                                <ul>
                                    <li><h3>WHAT CAN YOU DO WITH COOKIES?</h3></li>
                                    <div>
                                        <p>When you access our website for the first time, you are shown a window in which we inform you that cookies can be of various types:</p>
                                        <ul>
                                            <li>Technical cookies are necessary for our website to work, do not need your authorization and are the only ones we have activated by default. Therefore, they are the only cookies that will be active if you only press the <strong>ACCEPT</strong> button.</li>
                                            <li>The rest of cookies serve to improve our page, to personalize it based on your preferences, or to be able to show you advertising adjusted to your searches, tastes and personal interests. All of them are deactivated by default, but you can activate them in our <strong>COOKIES CONFIGURATION</strong> section: <strong>take control and enjoy a personalized navigation on our page, with a step as simple and fast as the checkboxes of the boxes you want.</strong></li>
                                        </ul>
                                        <p>Also inform you that, once you have activated any type of cookies, you have the possibility of deactivating them at any time, with the simple step of unchecking the corresponding box in the <strong>COOKIES CONFIGURATION</strong> section of our website. It will always be as simple for you to activate our own cookies as to deactivate them.</p>
                                        <p>Remember also that, through the configuration of your browser, you can block or alert the presence of cookies, although such blocking may affect the proper<strong> </strong>functioning of the different functionalities of our website in the case of the necessary technical cookies.</p>
                                        <p>Finally, indicate that, if you activate <strong>third-party cookies</strong> (external companies that provide services for our website) and subsequently wish to deactivate them, you can do so in two ways: using the cookies deactivation tools of your browser or through the enabled systems themselves by such external suppliers.</p>
                                        <p>To make it much easier, here are a series of links to the cookie deactivation guidelines of commonly used browsers:</p>
                                        <ul>
                                            <li><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%253DDesktop&amp;hl=es">Google Chrome</a>.</li>
                                            <li><a href="https://support.mozilla.org/es/kb/Borrar%2520cookies">Mozilla Firefox</a>.</li>
                                            <li><a href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer">Internet Explorer</a>.</li>
                                            <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Safari</a>.</li>
                                            <li><a href="https://support.apple.com/es-es/HT201265">Safari per a IOS (iPhone i iPad)</a>.</li>
                                            <li><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%253DAndroid&amp;hl=es&amp;oco=1">Google Chrome per a Android</a>.&nbsp;</li>
                                            <li><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%253DiOS&amp;hl=es&amp;oco=1">Google Chrome per a Iphone i Ipad</a>.</li>
                                        </ul>
                                    </div>
                                </ul>
                                <p style="text-align: center;"><strong>Thank you very much for your cooperation</strong></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                   
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}