{%trans_default_domain 'general'%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block title %}{%trans%}header.cookies{%endtrans%} - Diplonautic{% endblock %}
{% block meta_title %}{%trans%}header.cookies{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-description">
                        <div class="fixedContainer">
                            <div class="content">
                                <h1>{%trans%}header.cookies{%endtrans%}</h1>
                                <h3>1. NORMATIVA APLICABLE</h3>
                                    <p>
                                    L&#39;apartat segon de l&#39;article 22 de la Llei 34/2002 , de 11 de juliol, de Serveis de la Societat de la
                                    Informació i de Comerç Electrònic (en endavant, LSSI - CE) , estableix el següent :
                                    <ul><li>2. Els prestadors de serveis podran utilitzar dispositius d&#39;emmagatzematge i
                                    recuperació de dades en equips terminals dels destinataris, a condició que els mateixos
                                    hagin donat el seu consentiment després que se&#39;ls hagi facilitat informació clara i
                                    completa sobre la seva utilització, en particular, sobre els finalitats del tractament de les
                                    dades, d&#39;acord amb el que disposa la Llei Orgànica 15/1999, de 13 de desembre, de
                                    Protecció de Dades de Caràcter Personal.
                                    Quan sigui tècnicament possible i eficaç, el consentiment del destinatari per acceptar el
                                    tractament de les dades es pot facilitar mitjançant l&#39;ús dels paràmetres adequats del
                                    navegador o d&#39;altres aplicacions, sempre que aquell hagi de procedir a la seva
                                    configuració durant la seva instal·lació o actualització mitjançant una acció expressa a
                                    aquest efecte.<br>
                                    Això no impedeix el possible emmagatzematge o accés d&#39;índole tècnica al sol tal
                                    d&#39;efectuar la transmissió d&#39;una comunicació per una xarxa de comunicacions
                                    electròniques o, en la mesura que sigui estrictament necessari, per a la prestació d&#39;un
                                    servei de la societat de la informació expressament sol·licitat pel destinatari.</li></ul>
                                    Segons recull la &quot;Guia sobre l&#39;ús de les cookies&quot;, publicada per l&#39;Agència Espanyola de
                                    Protecció de Dades (en endavant, AEPD ) l&#39;any 2013, la LSSI - CE és aplicable a qualsevol
                                    tipus d&#39;arxiu o dispositiu que es descarrega a l&#39;equip terminal d&#39;un usuari amb la finalitat
                                    d&#39;emmagatzemar dades que podran ser actualitzats i recuperats per l&#39;entitat responsable de la
                                    seva instal·lació. La cookie és un d&#39;aquests dispositius d&#39;ús generalitzat pel que, en endavant,
                                    anomenarem genèricament aquests dispositius com cookies.
                                    Queden exceptuades del compliment de les obligacions establertes en l&#39;article 22.2 de la LSSI -
                                    CE les cookies utilitzades per a alguna de les següents finalitats:<br>
                                     Permetre únicament la comunicació entre l&#39;equip de l&#39;usuari i la xarxa.<br>
                                     Estrictament prestar un servei expressament demanat per l&#39;usuari.</p>
                                    <h3>2. TIPUS DE COOKIES SEGONS LA SEVA FINALITAT</h3>
                                    <p>Una cookie és un fitxer que es descarrega al seu ordinador en accedir a determinades pàgines
                                    web. Les cookies permeten a una pàgina web, entre altres coses, emmagatzemar i recuperar
                                    informació sobre els hàbits de navegació d&#39;un usuari o del seu equip i, depenent de la
                                    informació que continguin i de la forma en què utilitzi el seu equip, es poden utilitzar per
                                    reconèixer l&#39;usuari.<br>
                                    Tal com recull la &quot;Guia sobre l&#39;ús de les cookies&quot; de l&#39;AEPD, segons la finalitat per a la qual es
                                    tractin les dades obtingudes a través de les cookiess, podem distingir entre:<br>
                                    <ul>
                                    <li> Cookiess tècniques: Són aquelles que permeten a l&#39;usuari la navegació a través d&#39;una
                                    pàgina web, plataforma o aplicació i la utilització de les diferents opcions o serveis que
                                    en ella hi hagi com, per exemple, controlar el trànsit i la comunicació de dades,
                                    identificar la sessió, accedir a parts d&#39;accés restringit, recordar els elements que
                                    integren una comanda, realitzar el procés de compra d&#39;una comanda, realitzar la
                                    sol·licitud d&#39;inscripció o participació en un esdeveniment, utilitzar elements de seguretat
                                    durant la navegació, emmagatzemar continguts per a la difusió de vídeos o so o
                                    compartir continguts a través de xarxes socials.</li>
                                    <li> Cookies de personalització: Són aquelles que permeten a l&#39;usuari accedir al servei
                                    amb algunes característiques de caràcter general predefinides en funció d&#39;una sèrie de
                                    criteris en el terminal de l&#39;usuari com ara serien l&#39;idioma, el tipus de navegador a través
                                    del qual s&#39;accedeix al servei, la configuració regional des d&#39;on accedeix al servei , etc.</li>
                                    <li> Cookies d&#39;anàlisi: Són aquelles que permeten al responsable de les mateixes , el
                                    seguiment i anàlisi del comportament dels usuaris dels llocs web als que estan
                                    vinculades . La informació recollida mitjançant aquest tipus de galetes s&#39;utilitza en el
                                    mesurament de l&#39;activitat dels llocs web , aplicació o plataforma i per a l&#39;elaboració de
                                    perfils de navegació dels usuaris d&#39;aquests llocs , aplicacions i plataformes, per tal
                                    d&#39;introduir millores en funció de l&#39;anàlisi de les dades d&#39;ús que fan els usuaris del servei.</li>
                                    <li> Cookies publicitàries: Són aquelles que permeten la gestió , de la manera més eficaç
                                    possible , dels espais publicitaris que , si escau , l&#39;editor hagi inclòs en una pàgina web,
                                    aplicació o plataforma des de la que presta el servei sol·licitat basant-se en criteris com
                                    el contingut editat o la freqüència en què es mostren els anuncis.</li><br>
                                    <li> Cookies de publicitat comportamental: Són aquelles que permeten la gestió, de la
                                    manera més eficaç possible, dels espais publicitaris que, si escau, l&#39;editor hagi inclòs
                                    en una pàgina web, aplicació o plataforma des de la que presta el servei sol·licitat.<br>
                                    Aquestes galetes emmagatzemen informació del comportament dels usuaris obtinguda
                                    a través de l&#39;observació continuada dels seus hàbits de navegació, el que permet
                                    desenvolupar un perfil específic per mostrar publicitat en funció del mateix.</li>
                                    </ul></p>
                                    <h3>3. PRINCIPI D&#39;INFORMACIÓ</h3>
                                    <p>En compliment del que estableix l&#39;article 5 de la Llei Orgànica 15/1999, de 13 de desembre, de
                                    Protecció de Dades de Caràcter Personal (en endavant, LOPD ), l&#39;informem de manera
                                    expressa, precisa i inequívoca que la informació que es obtingui a través de les cookies que
                                    s&#39;instal · lin al seu ordinador serà utilitzada amb les següents finalitats: …..................

                                    …………………………………………………………………………………..
                                    ……………………………………………………………………………………………………………….
                                    ……………………………………………………………………………………………………………….
                                    Els destinataris de la informació que s&#39;obtingui a través de les cookies que s&#39;instal·len al seu
                                    ordinador seran les següents entitats:<br>
                                    - L&#39;editor responsable del web i responsable del tractament: DIPLONAUTIC S.L.
                                    - Si s&#39;escau, les entitats directament relacionades amb l&#39;editor responsable del web que
                                    expressament es relacionin a continuació: ………………………………..
                                    ….......................................................................................................................................
                                    ….......................................................................................................................................</p>
                                    <h3>4. PRINCIPI DEL CONSENTIMENT</h3>
                                    <p>El consentiment per a la instal·lació de les cookies s&#39;entendrà prestat a través de la marcació
                                    de la casella relativa a l&#39;acceptació de la &quot;política de cookies&quot; disposada a aquest efecte a la
                                    nostra pàgina web.<br>
                                    En els casos en què l&#39;usuari no manifesti expressament si accepta o no la instal·lació de les
                                    cookies, però continuï utilitzant la pàgina web o l&#39;aplicació s&#39;entendrà que aquest ha donat el
                                    seu consentiment , informant expressament nostra entitat de la possibilitat de bloquejar o
                                    eliminar les cookies instal·lades en el seu equip mitjançant la configuració de les opcions del
                                    navegador instal lat al seu ordinador.</p>
                                    <h3>5. CARÀCTER FACULTATIU DE LA INSTAL·LACIÓ DE COOKIES</h3>
                                    <p>Si bé l&#39;acceptació de la instal·lació de les cookies al seu ordinador és facultativa per a vostè, la
                                    negativa a la seva instal·lació pot suposar que la funcionalitat de la pàgina web quedi limitada o
                                    no sigui possible, la qual cosa impossibilitaria la prestació de serveis per part de la nostra
                                    entitat a través de la mateixa.</p>

                                    <h3>6. PRINCIPI DE SEGURETAT DE LES DADES</h3>
                                    <p>DIPLONAUTIC S.L. es compromet al compliment de la seva obligació de secret respecte de les
                                    dades de caràcter personal i del seu deure de guardar-los i adoptarà totes les mesures d&#39;índole
                                    tècnica i organitzativa necessàries que garanteixin la seguretat de les dades de caràcter
                                    personal i evitin la seva alteració, pèrdua, tractament o accés no autoritzat, atès l&#39;estat de la
                                    tecnologia, la naturalesa de les dades emmagatzemades i els riscos a què estiguin exposats, ja
                                    provinguin de l&#39; acció humana o del medi físic o natural, desenvolupades en el títol VIII del Reial
                                    Decret 1720 / 2007, de 21 de desembre, pel qual s&#39;aprova el Reglament de desenvolupament
                                    de la Llei Orgànica 15/1999, de 13 de desembre, de Protecció de Dades de Caràcter Personal.</p>
                                    <h3>7. EXERCICI DE DRETS</h3>
                                    <p>En compliment del que estableix la LOPD i el Reial decret 1720/2007, de 21 de desembre, pel
                                    qual s&#39;aprova el Reglament de desenvolupament de la mateixa, el destinatari del servei pot
                                    exercitar, en qualsevol moment, els drets d&#39;accés, rectificació, cancel · lació i oposició davant el
                                    responsable del fitxer o del tractament, adjuntant fotocòpia del seu DNI.</p>
                                    <h3>8. RESPONSABLE DEL FITXER O DEL TRACTAMENT</h3>
                                    <p>El responsable del fitxer o del tractament és DIPLONAUTIC S.L., amb adreça a efectes de
                                    notificacions en CARRER DE CRISTOBAL DE MOURA,25 BAJOS, 08019 - BARCELONA
                                    (Barcelona)</p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-sm-1 languages hidden-xs">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %} title="{%trans%}languages.cat{%endtrans%}">
                                CAT
                            </a>
                        </div>
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %} title="{%trans%}languages.en{%endtrans%}">
                                ENG
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}