{%trans_default_domain 'general'%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block title %}{%trans%}header.data_protection{%endtrans%} - Diplonautic{% endblock %}
{% block meta_title %}{%trans%}header.data_protection{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-description">
                        <div class="fixedContainer">
                            <div class="content">
                                {% if app.request.locale == 'ca'%}
                                <h1>PROTECCIÓ DE DADES</h1>
                                <br/>
                                <p>L'Adre&ccedil;a / &Ograve;rgan de Govern de DIPLONAUTIC S.L. (d'ara endavant, el responsable del tractament), assumeix la m&agrave;xima responsabilitat i comprom&iacute;s amb l'establiment, implementaci&oacute; i manteniment de la present Pol&iacute;tica de Protecci&oacute; de Dades, garantint la millora cont&iacute;nua del responsable del tractament amb l'objectiu d'aconseguir l'excel&middot;l&egrave;ncia en relaci&oacute; amb el compliment del Reglament (UE) 2016/679 del Parlament Europeu i del Consell, de 27 d'abril de 2016, relatiu a la protecci&oacute; de les persones f&iacute;siques pel que fa al tractament de dades personals i a la lliure circulaci&oacute; d'aquestes dades i pel qual es deroga la Directiva 95/46/CE (Reglament general de protecci&oacute; de dades) (DOUE L 119/1, 04-05-2016), i de la normativa espanyola de protecci&oacute; de dades de car&agrave;cter personal (Llei Org&agrave;nica, legislaci&oacute; sectorial espec&iacute;fica i les seves normes de desenvolupament).</p>

                                <p>La Pol&iacute;tica de Protecci&oacute; de Dades de <b>DIPLONAUTIC S.L.</b> descansa en <u>el principi de responsabilitat proactiva</u>, segons el qual el responsable del tractament &eacute;s responsable del compliment del marc normatiu i jurisprudencial que governa aquesta Pol&iacute;tica, i &eacute;s capa&ccedil; de demostrar-ho davant les autoritats de control competents.</p>

                                <p>En tal sentit, el responsable del tractament es regir&agrave; pels seg&uuml;ents principis que han de servir a tot el seu personal com a guia i marc de refer&egrave;ncia en el tractament de dades personals:</p>

                                <p><u>1. Protecci&oacute; de dades des del disseny</u>: el responsable del tractament aplicar&agrave;, tant al moment de determinar els mitjans de tractament com al moment del mateix tractament, mesures t&egrave;cniques i organitzatives apropiades, com la pseudonimizaci&oacute;, concedides per aplicar de forma efectiva els principis de protecci&oacute; de dades, com la minimitzaci&oacute; de dades, i integrar les garanties necess&agrave;ries en el tractament.</p>

                                <p><u>2. Protecci&oacute; de dades per defecte</u>: el responsable del tractament aplicar&agrave; les mesures t&egrave;cniques i organitzatives apropiades amb la intenci&oacute; de garantir que, per defecte, solament siguin objecte de tractament de les dades personals que siguin necess&agrave;ries per a cada un dels dins espec&iacute;fics del tractament. </p>

                                <p><u>3. Protecci&oacute; de dades en el cicle de vida de la informaci&oacute;</u>: les mesures que garanteixin la protecci&oacute; de les dades personals seran aplicables durant el cicle complet de la vida de la informaci&oacute;.</p>

                                <p><u>4. Licitud, lleialtat i transpar&egrave;ncia</u>: les dades personals seran tractats de manera l&iacute;cita, lleial i transparent en relaci&oacute; amb l'interessat.</p>

                                <p><u>5. Limitaci&oacute; de la finalitat: les dades personals seran recollits amb finalitats determinades, expl&iacute;cits i leg&iacute;tims, i no seran tractats ulteriorment de manera incompatible amb aquestes finalitats.</u></p>

                                <p><u>6. Minimitzaci&oacute; de dades</u>: les dades personals seran adequats, pertinents i limitats al necessari en relaci&oacute; amb les finalitats pels quals s&oacute;n tractats.</p>

                                <p><u>7. Exactitud</u>: les dades personals seran exactes i, si fos necessari, actualitzats; s'adoptaran totes les mesures raonables perqu&egrave; se suprimeixin o rectifiquin sense dilaci&oacute; les dades personals que siguin inexactes pel que fa a les finalitats pels quals es tracten.</p>

                                <p><u>8. Limitaci&oacute; del termini de conservaci&oacute;</u>: les dades personals seran mantingudes de manera que es permeti la identificaci&oacute; dels interessats durant no m&eacute;s del temps del necessari per a les finalitats del tractament de les dades personals.</p>

                                <p><u>9. Integritat i confidencialitat</u>: les dades personals seran tractats de tal manera que es garanteixi una seguretat adequada de les dades personals, inclosa la protecci&oacute; contra el tractament no autoritzat o il&middot;l&iacute;cit i contra la seva p&egrave;rdua, destrucci&oacute; o dany accidental, mitjan&ccedil;ant l'aplicaci&oacute; de mesures t&egrave;cniques o organitzatives apropiades.</p>

                                <p><u>10. Informaci&oacute; i formaci&oacute;</u>: una de les claus per garantir la protecci&oacute; de les dades personals &eacute;s la formaci&oacute; i informaci&oacute; que es faciliti al personal involucrat en el tractament d'aquests. Durant el cicle de vida de la informaci&oacute;, tot el personal amb acc&eacute;s a les dades ser&agrave; convenientment format i informat sobre les seves obligacions en relaci&oacute; amb el compliment de la normativa de protecci&oacute; de dades.</p>

                                <p>La Pol&iacute;tica de Protecci&oacute; de Dades de <b>DIPLONAUTIC S.L.</b> &eacute;s comunicada a tot el personal del responsable del tractament i posada a la disposici&oacute; de totes les parts interessades. </p>

                                <p>En la seva conseq&uuml;&egrave;ncia, la present Pol&iacute;tica de Protecci&oacute; de Dades involucra a tot el personal del responsable del tractament, que ha de con&egrave;ixer-la i assumir-la, considerant-la com a pr&ograve;pia, sent cada membre responsable d'aplicar-la i de verificar les normes de protecci&oacute; de dades aplicables a la seva activitat, aix&iacute; com identificar i aportar les oportunitats de millora que consideri oportunes amb l'objectiu d'aconseguir l'excel&middot;l&egrave;ncia en relaci&oacute; amb el seu compliment.</p>

                                <p>Aquesta Pol&iacute;tica ser&agrave; revisada per l'Adre&ccedil;a / &Ograve;rgan de Govern de <b>DIPLONAUTIC S.L.</b>, tantes vegades com es consideri necessari, per adequar-se, a tot moment, a les disposicions vigents en mat&egrave;ria de protecci&oacute; de dades de car&agrave;cter personal.</p>
                                {% else %}
                                <h3>I. INFORMATION PURSUANT TO THE PROVISIONS OF SPANISH LAW 34/2002, OF 11 JULY, ON INFORMATION SOCIETY SERVICES AND ELECTRONIC COMMERCE</h3>
                                <p>In compliance with the provisions of Article 10 of Spanish Law 34/2002, of 11 July, on Information Society Services and Electronic Commerce (hereinafter LSSI-CE), we inform explicitly, precisely and unequivocally, both service recipients as the competent bodies, of the following aspects of the Information Society Services provider:<br><br>
                                 
                                NAME / CORPORATE NAME : DIPLONAUTIC S.L.<br>
                                CIF / NIF: B66501818<br>
                                ACTIVITY / SOCIAL OBJECT: INSTALACIÓN DE AIRE ACONDICIONADO EN BARCOS<br>
                                REGISTERED OFFICE: AVENIDA PRINCIPE DE ASTURIAS,48 5º 2ª, 08019 - BARCELONA (Barcelona)<br>
                                PHONE: 930.106.884; 690.600.449<br>
                                EMAIL ADDRESS: xs@diplonautic.com; ps@diplonautic.com<br>
                                WEB ADDRESS: www.diplonautic.com<br><br>
                                </p>

                                <h3>II. INFORMATION PURSUANT TO THE PROVISIONS OF THE ORGANIC LAW ON THE PROTECTION OF PERSONAL DATA</h3>
                                                                <br/> 
                                <h4>1. PRINCIPLE OF INFORMATION</h4>

                                <p>In compliance with the provisions of Article 5 of Spanish ORGANIC LAW 15/1999, of 13 December, on the Protection of Personal Data (hereinafter LOPD), we inform you explicitly, precisely and unequivocally that the data provided by you through the contact form established on our website or any other channel for collecting data, as well as those data generated during your relationship with our organization, will be processed on files company responsibility , duly notified to the General Data Protection Register of the Spanish Data Protection Agency , for the purpose of the compliance and maintenance of the relationship of the recipient of service with our organization and services derivative thereof.<br>
                                Also, In compliance with the provisions of the LOPD and Spanish Law 34/2002, of 11 July, on Information Society Services and Electronic Commerce (hereinafter LSSI-CE), we inform that your data may be used for the purpose of sending commercial communications and complimentary regarding our company via telephone , regular mail , fax, e-mail or equivalent electronic medias.<br>
                                Likewise, we inform you that your data will be communicated in all those cases where it is necessary for the development , implementation and control of the relationship of the recipient of service with our organization, or in cases where authorized by a rule having the force of law and in particular, under the concurrence of the following assumptions:<ul><li> a) Treatment or communication of the data is aimed at satisfying a legitimate interest of the controller or the transferee covered by this legal rule;</li><li> b) Treatment or communication of the data is necessary for the controller in order to comply with a duty imposed by that legal rule.</li></ul><br><br>
                                                                <br/></p>
                                <h4>2. PRINCIPLE OF CONSENT</h4>
                                <p>
                                The consent to the processing of your data for the purposes described in the previous paragraph is provided through marking the appropriate box provided for this purpose on our website.<br><br></p>
                                                                <br/> 
                                <h4>3. OBLIGATORY OR VOLUNTARY NATURE OF THE REQUESTED DATA</h4>

                                <p>The completion of all and each of the fields provided for that purpose on our website forms is obligatory (otherwise, fields that are obligatory will be marked with an asterisk). The refusal to provide data would imply the impossibility of the compliance and maintenance of the relationship of the recipient of service with our organization, since they are necessary for the provision of services derived thereof.<br><br></p>
                                                                <br/> 
                                <h4>4. PRINCIPLE OF DATA QUALITY</h4>

                                <p>The recipient of service is solely responsible for the accuracy of the data provided, acting the company in good faith, only as service provider.<br>
                                In the event that the recipient of service provides false information or data third parties without their consent, he will be personally liable to personally front the company, data subjects, Spanish Data Protection Agency and, where appropriate, regional  data protection authorities, from responsibilities arising from that fact.<br>
                                The company does not collect data on persons under fourteen years through its website. In the event that a person under fourteen years provides his data through the form provided for that purpose on our website or any other channel for collecting data, it will proceed to immediate destruction of the data at the same time that the company is aware of such circumstances.<br> 
                                In order to comply with the provisions of Article 4.3 of the LOPD, the recipient of service agrees to notify the company the changes that occur in your data, so that they respond truthfully to his current situation throughout times.<br><br>
                                </p>
                                                                <br/>
                                <h4>5. PRINCIPLE OF DATA SECURITY</h4>

                                <p>The company is committed to fulfilling its obligation of secrecy as regards the personal data and its duty to protect them and adopt the technical and organizational measures necessary to ensure the security of the personal data and prevent their alteration, loss, unauthorized processing or access, having regard to the state of the art, the nature of the data stored and the risks to which they are exposed by virtue of human action or the physical or natural environment, developed in Title VIII of the Royal Decree 1720/2007, of 21 December, which approves the Regulation implementing Organic Law 15/1999, of 13 December, on the Protection of Personal Data.<br><br></p>
                                                                <br/> 
                                <h4>6. EXERCISE OF RIGHTS</h4>

                                <p>In compliance with the LOPD, and Royal Decree 1720/2007, of 21 December, approving the Regulations implementing the same, the recipient of service may exercise, at any time, access rights, rectification, cancellation and opposition with regards to the data controller, enclosing a photocopy of his ID.<br><br></p>
                                                                <br/> 
                                <h4>7. IDENTITY OF THE CONTROLLER</h4>

                                <p>The identity of the controller is _____________________., with address for notifications purposes at c/ ________________________________________________________________
                                You agree, through marking this box, the processing of your data for the purposes described in the Privacy Policy.<br>
                                You object, through marking this box, the processing of your data for commercial or promotional purposes by our organization.
                                </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                   
                    <div class="col-sm-1 languages hidden-xs">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %} title="{%trans%}languages.cat{%endtrans%}">
                                CAT
                            </a>
                        </div>
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %} title="{%trans%}languages.en{%endtrans%}">
                                ENG
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}