{%trans_default_domain 'general'%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block title %}{%trans%}header.data_protection{%endtrans%} - Diplonautic{% endblock %}
{% block meta_title %}{%trans%}header.data_protection{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-legal">
                        <div class="fixedContainer">
                            <div class="content">
                                {% if app.request.locale == 'ca'%}
                                <h1>POLÍTICA DE PROTECCIÓ DE DADES</h1>
                                <br/>
                                <p>L'Adre&ccedil;a / &Ograve;rgan de Govern de <b>DIPLONAUTIC S.L.</b> (d'ara endavant, el responsable del tractament), assumeix la m&agrave;xima responsabilitat i comprom&iacute;s amb l'establiment, implementaci&oacute; i manteniment de la present Pol&iacute;tica de Protecci&oacute; de Dades, garantint la millora cont&iacute;nua del responsable del tractament amb l'objectiu d'aconseguir l'excel&middot;l&egrave;ncia en relaci&oacute; amb el compliment del Reglament (UE) 2016/679 del Parlament Europeu i del Consell, de 27 d'abril de 2016, relatiu a la protecci&oacute; de les persones f&iacute;siques pel que fa al tractament de dades personals i a la lliure circulaci&oacute; d'aquestes dades i pel qual es deroga la Directiva 95/46/CE (Reglament general de protecci&oacute; de dades) (DOUE L 119/1, 04-05-2016), i de la normativa espanyola de protecci&oacute; de dades de car&agrave;cter personal (Llei Org&agrave;nica, legislaci&oacute; sectorial espec&iacute;fica i les seves normes de desenvolupament).</p>

                                <p>La Pol&iacute;tica de Protecci&oacute; de Dades de <b>DIPLONAUTIC S.L.</b> descansa en <u>el principi de responsabilitat proactiva</u>, segons el qual el responsable del tractament &eacute;s responsable del compliment del marc normatiu i jurisprudencial que governa aquesta Pol&iacute;tica, i &eacute;s capa&ccedil; de demostrar-ho davant les autoritats de control competents.</p>

                                <p>En tal sentit, el responsable del tractament es regir&agrave; pels seg&uuml;ents principis que han de servir a tot el seu personal com a guia i marc de refer&egrave;ncia en el tractament de dades personals:</p>

                                <p><u>1. Protecci&oacute; de dades des del disseny</u>: el responsable del tractament aplicar&agrave;, tant al moment de determinar els mitjans de tractament com al moment del mateix tractament, mesures t&egrave;cniques i organitzatives apropiades, com la pseudonimizaci&oacute;, concedides per aplicar de forma efectiva els principis de protecci&oacute; de dades, com la minimitzaci&oacute; de dades, i integrar les garanties necess&agrave;ries en el tractament.</p>

                                <p><u>2. Protecci&oacute; de dades per defecte</u>: el responsable del tractament aplicar&agrave; les mesures t&egrave;cniques i organitzatives apropiades amb la intenci&oacute; de garantir que, per defecte, solament siguin objecte de tractament de les dades personals que siguin necess&agrave;ries per a cada un dels dins espec&iacute;fics del tractament. </p>

                                <p><u>3. Protecci&oacute; de dades en el cicle de vida de la informaci&oacute;</u>: les mesures que garanteixin la protecci&oacute; de les dades personals seran aplicables durant el cicle complet de la vida de la informaci&oacute;.</p>

                                <p><u>4. Licitud, lleialtat i transpar&egrave;ncia</u>: les dades personals seran tractats de manera l&iacute;cita, lleial i transparent en relaci&oacute; amb l'interessat.</p>

                                <p><u>5. Limitaci&oacute; de la finalitat:</u> les dades personals seran recollits amb finalitats determinades, expl&iacute;cits i leg&iacute;tims, i no seran tractats ulteriorment de manera incompatible amb aquestes finalitats.</p>

                                <p><u>6. Minimitzaci&oacute; de dades</u>: les dades personals seran adequats, pertinents i limitats al necessari en relaci&oacute; amb les finalitats pels quals s&oacute;n tractats.</p>

                                <p><u>7. Exactitud</u>: les dades personals seran exactes i, si fos necessari, actualitzats; s'adoptaran totes les mesures raonables perqu&egrave; se suprimeixin o rectifiquin sense dilaci&oacute; les dades personals que siguin inexactes pel que fa a les finalitats pels quals es tracten.</p>

                                <p><u>8. Limitaci&oacute; del termini de conservaci&oacute;</u>: les dades personals seran mantingudes de manera que es permeti la identificaci&oacute; dels interessats durant no m&eacute;s del temps del necessari per a les finalitats del tractament de les dades personals.</p>

                                <p><u>9. Integritat i confidencialitat</u>: les dades personals seran tractats de tal manera que es garanteixi una seguretat adequada de les dades personals, inclosa la protecci&oacute; contra el tractament no autoritzat o il&middot;l&iacute;cit i contra la seva p&egrave;rdua, destrucci&oacute; o dany accidental, mitjan&ccedil;ant l'aplicaci&oacute; de mesures t&egrave;cniques o organitzatives apropiades.</p>

                                <p><u>10. Informaci&oacute; i formaci&oacute;</u>: una de les claus per garantir la protecci&oacute; de les dades personals &eacute;s la formaci&oacute; i informaci&oacute; que es faciliti al personal involucrat en el tractament d'aquests. Durant el cicle de vida de la informaci&oacute;, tot el personal amb acc&eacute;s a les dades ser&agrave; convenientment format i informat sobre les seves obligacions en relaci&oacute; amb el compliment de la normativa de protecci&oacute; de dades.</p>

                                <p>La Pol&iacute;tica de Protecci&oacute; de Dades de <b>DIPLONAUTIC S.L.</b> &eacute;s comunicada a tot el personal del responsable del tractament i posada a la disposici&oacute; de totes les parts interessades. </p>

                                <p>En la seva conseq&uuml;&egrave;ncia, la present Pol&iacute;tica de Protecci&oacute; de Dades involucra a tot el personal del responsable del tractament, que ha de con&egrave;ixer-la i assumir-la, considerant-la com a pr&ograve;pia, sent cada membre responsable d'aplicar-la i de verificar les normes de protecci&oacute; de dades aplicables a la seva activitat, aix&iacute; com identificar i aportar les oportunitats de millora que consideri oportunes amb l'objectiu d'aconseguir l'excel&middot;l&egrave;ncia en relaci&oacute; amb el seu compliment.</p>

                                <p>Aquesta Pol&iacute;tica ser&agrave; revisada per l'Adre&ccedil;a / &Ograve;rgan de Govern de <b>DIPLONAUTIC S.L.</b>, tantes vegades com es consideri necessari, per adequar-se, a tot moment, a les disposicions vigents en mat&egrave;ria de protecci&oacute; de dades de car&agrave;cter personal.</p>
                                {% else %}
                                <h1>DATA PROTECTION POLICY</h1>
                                <br/>
                                <p>The Dirección / Organo de Gobierno de <b>DIPLONAUTIC S.L.</b> (hereafter, the person in charge of the treatment), assumes the maximum responsibility and commitment with the establishment, implementation and maintenance of the present Data Protection Policy, guaranteeing the continuous improvement of the person in charge of the treatment with the aim of achieving the excellence in relation to the fulfillment of the Regulation (EU) 2016/679 of the European Parliament and of the Council, of 27 of April of 2016, relative to the protection of the physical people with respect to the treatment of personal data and The free circulation of these data and which repeals Directive 95/46 / EC (General Regulation on data protection) (DOUE L 119/1, 05-04-2016), and the Spanish data protection regulations of a personal nature (Organic Law, specific sectoral legislation and its development regulations).</p>

                                <p>The Data Protection Policy of <b>DIPLONAUTIC S.L.</b> rest on the principle of proactive responsibility, according to which the person in charge of the treatment is responsible for compliance with the normative and jurisprudential framework governing this Policy, and is able to prove it before the competent control authorities.</p>

                                <p>In this regard, the person in charge of the treatment will be governed by the following principles that should serve all his staff as a guide and frame of reference in the treatment of personal data:</p>

                                <p><u>1. Data protection from design:</u> the person responsible for the treatment will apply, at the time of determining the means of treatment and at the time of the same treatment, appropriate technical and organizational measures, such as pseudonimization, designed to effectively apply the principles of Data protection, such as minimizing data, and integrating the necessary guarantees in the treatment.</p>

                                <p><u>2. Default data protection:</u> the person responsible for the treatment will apply the appropriate technical and organizational measures with the intention of ensuring that, by default, they are only subject to the processing of the personal data that are necessary for each one of the specific aspects of the treatment .</p>

                                <p><u>3. Data protection in the life cycle of information:</u> measures that guarantee the protection of personal data will be applicable during the entire life cycle of the information.</p>

                                <p><u>4. Law, loyalty and transparency:</u> personal data will be treated in a lawful, loyal and transparent manner in relation to the interested party.</p>

                                <p><u>5. Limitation of the purpose:</u> the personal data will be collected for specific, explicit and legitimate purposes, and will not be treated subsequently in a way incompatible with these purposes.</p>

                                <p><u>6. Minimization of data:</u> personal data will be adequate, relevant and limited to what is necessary in relation to the purposes for which they are treated.</p>

                                <p><u>7. Accuracy:</u> personal data will be accurate and, if necessary, updated; all reasonable measures will be taken to eliminate or rectify without delay the personal data that are inaccurate as regards the purposes for which they are dealt with.</p>

                                <p><u>8. Limitation of the term of conservation:</u> the personal data will be maintained so that the identification of the interested parties is allowed during no more than the time of the necessary one for the purposes of the treatment of the personal data.</p>

                                <p><u>9. Integrity and confidentiality:</u> personal data will be treated in such a way as to ensure adequate security of personal data, including protection against unauthorized or unlawful treatment and against loss, destruction or accidental damage, through the Application of appropriate technical or organizational measures.</p>

                                <p><u>10. Information and training:</u> one of the keys to guarantee the protection of personal data is the training and information that is provided to the personnel involved in their treatment. During the information life cycle, all personnel with access to the data will be suitably trained and informed about their obligations in relation to compliance with the data protection regulations.</p>

                                <p>The Data Protection Policy of <b>DIPLONAUTIC S.L.</b> is communicated to all the personnel responsible for the treatment and made available to all interested parties.</p>

                                <p>As a consequence, the present Data Protection Policy involves all the personnel responsible for the treatment, who must know and assume it, considering it as their own, each member being responsible for applying it and to verify the data protection rules applicable to their activity, as well as to identify and provide the opportunities for improvement that it deems appropriate in order to achieve excellence in relation to their compliance.</p>

                                <p>This Policy will be reviewed by the Dirección / Órgano de Gobierno de <b>DIPLONAUTIC S.L.</b>, as many times as it deems necessary, to adapt, at all times, to the current provisions regarding the protection of personal data.</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                   
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}