{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.es{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.es{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.es{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
    <meta property="og:title" content="{%trans%}tooltip.es{%endtrans%} - Diplonautic" />
    <meta property="og:url" content="http://www.diplonautic.com{{path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params'))}}" />
    <meta property="og:description" content="{%trans%}meta.es{%endtrans%}" />
    <meta property="og:site_name" content="Diplonautic" />
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}    
    <div class="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="main-description-product">
                            <img src="{{ asset("bundles/diplonauticlanding/images/Picto5.png")}}" alt="{%trans%}products.es.title{%endtrans%} - Diplonautic">
                            <div class="product-description">
                                <h1 class="h4">{%trans%}products.es.title{%endtrans%}</h1>
                                <div class="product-decription__text">
                                    <div>
                                        <p>{%trans%}electric.intro{%endtrans%}</p>
                                        <ul>
                                            <li>{%trans%}electric.e_recover{%endtrans%}</li>
                                            <li>{%trans%}electric.battery{%endtrans%}</li>
                                            <li>{%trans%}electric.dc{%endtrans%}</li>
                                        </ul>
                                    </div>
                                    <div class="p-l-30">
                                        <p>{%trans%}electric.closing{%endtrans%}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-marks-products">
                            <div class="marks__row two">
                                <div class="marks__item">
                                    <a href="http://www.victronenergy.com.es/" title="{%trans%}visit{%endtrans%} Victron Energy" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/VictronEnergy.jpg") }}" alt="Victron Energy">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.mastervolt.es/" title="{%trans%}visit{%endtrans%} Mastervolt" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/mastervolt.png") }}" alt="Victron Energy">
                                    </a>
                                </div>
                            </div>
                        </div>        
                    </div>
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
