<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs">
                <div class="pull-left mail">moc.cituanolpid@sp</div>
                <div class="pull-left footer-section">+34 930 247 180</div>
                <div class="pull-left footer-section">
                    <a href="https://www.google.es/maps/place/Av.+Manuel+Fern%C3%A1ndez+M%C3%A1rquez,+73,+08930+Sant+Adri%C3%A0+de+Bes%C3%B2s,+Barcelona/@41.420322,2.2202205,14.69z/data=!4m5!3m4!1s0x12a4a3556c3be9e9:0x89a0c106ac1d55ed!8m2!3d41.41819!4d2.22269" target="_blank" title="Av. Manuel Fernández Márquez 73">
                        <span class="visible-sm">Av. Manuel Fernández Márquez 73 Local 6 Sant Adrià del Besòs</span><span class="hidden-sm">Av. Manuel Fernández Márquez 73 Local 6 08930 Sant Adrià del Besòs (Barcelona)</span>
                    </a>
                </div>
            </div>
            <div class="visible-xs">
                <a href="tel:+34930247180"><i class="fa fa-phone"></i> 930 247 180</a>
            </div>
        </div>
    </div>
</footer>
