<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-left">ps@diplonautic.com</div>
            <div class="col-sm-4 text-center">690600449</div>
            <div class="col-sm-4 text-right">C/Cristobal de Moura 25 08019 Barcelona</div>
        </div>
    </div>
</footer>
