<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="hidden-xs">
                <div class="pull-left mail">moc.cituanolpid@sp</div>
                <div class="pull-left footer-section">+34 690 600 449</div>
                <div class="pull-left footer-section">C/Cristobal de Moura 25 08019 Barcelona</div>
            </div>
            <div class="visible-xs">
                <a href="tel:+34690600449"><i class="fa fa-phone"></i> 690 600 449</a>
            </div>
        </div>
    </div>
</footer>
