<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="pull-left">ps@diplonautic.com</div>
            <div class="pull-left footer-section">690600449</div>
            <div class="pull-left footer-section">C/Cristobal de Moura 25 08019 Barcelona</div>
        </div>
    </div>
</footer>
