
<div class="container-fluid">
    <nav>
        <div class="row">
            <div class="col-sm-3 col-md-4 text-center nav-logo">
                <a href="#">
                    <img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/logo.png") }}">
                </a>
            </div>
            <div class="division"></div>
            <div class="col-sm-9 col-md-8 navbar-diplonautic">
                <ul class="nav navbar-nav">
                      <li class="text-center">
                          <a href="{{path("diplonautic_landing_homepage")}}">INICI</a>
                      </li>
                      <li class="text-center">
                          <a href="{{path("diplonautic_landing_about")}}">EMPRESA</a>
                      </li>
                      <li class="text-center">
                          <a href="{{path("diplonautic_landing_products")}}">PRODUCTES</a>
                      </li>
                      <li class="text-center">
                          <a href="#">OPORTUNITATS</a>
                      </li>
                      <li class="text-center">
                          <a href="#">CONTACTE</a>
                      </li>

                  </ul><!--navbar-right-->
            </div>
        </div>
    </nav>
</div>