{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.mp{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.ms{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.ms{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
    <meta property="og:title" content="{%trans%}tooltip.ms{%endtrans%} - Diplonautic" />
    <meta property="og:url" content="http://www.diplonautic.com{{path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params'))}}" />
    <meta property="og:description" content="{%trans%}meta.mp{%endtrans%}" />
    <meta property="og:site_name" content="Diplonautic" />
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}    
    <div class="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="main-description-product">
                            <img src="{{ asset("bundles/diplonauticlanding/images/Picto6.png")}}" alt="{%trans%}products.ms.title{%endtrans%} - Diplonautic">
                            <div class="product-description">
                                <h1 class="h4">{%trans%}products.ms.title{%endtrans%}</h1>
                                <div class="product-decription__text">
                                    <div>
                                        <p>{%trans%}propeller.intro{%endtrans%}<br><br>
                                        <span>{%trans%}propeller.proa{%endtrans%}</span>
                                        <ul>
                                                <li>{%trans%}propeller.fixed{%endtrans%}</li>
                                                <li>{%trans%}propeller.electric{%endtrans%}</li>
                                        </ul>
                                        <span>{%trans%}propeller.variable{%endtrans%}</span>
                                        </p>
                                    </div>
                                    <div class="p-l-10">
                                        <p>{%trans%}propeller.closing{%endtrans%}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-marks-products">
                            <div class="marks__row two">
                                <div class="marks__item">
                                    <a href="http://www.max-power.com/" title="{%trans%}visit{%endtrans%} Max Power" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/MAXPower.png") }}" alt="Max Power">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.wesmar.com/index" title="{%trans%}visit{%endtrans%} Wesmar" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/Wesmar.png") }}" alt="Wesmar">
                                    </a>
                                </div>
                            </div>
                        </div>        
                    </div>
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
