{% trans_default_domain "general" %}
<div class={% if app.request.cookies.get('cookiesAgreement')!= 'true' %}"modal show"{% else %}"modal"{% endif %} tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">{% trans %}cookies.title{% endtrans %}</h5>
      </div>
      <div class="modal-body">
         <div class="row white mt10">
            <div class="col-md-12 tac fs15 cookie-p">
            {% if app.request.locale == 'ca'%}
            <p>Benvingut/da a la informaci&oacute; b&agrave;sica sobre les galetes de la p&agrave;gina web responsabilitat de <strong>DIPLONAUTIC SL</strong></p>
            <p>Una <em>cookie</em>&nbsp;o galeta inform&agrave;tica &eacute;s un petit fitxer d&rsquo;informaci&oacute; que es desa en el teu ordinador, &ldquo;smartphone&rdquo; o tauleta cada vegada que visites la nostra p&agrave;gina web. Algunes galetes s&oacute;n nostres i altres pertanyen a empreses externes que presten serveis per a la nostra p&agrave;gina web.&nbsp;</p>
            <p>Les galetes poden ser de diferents tipus: les galetes t&egrave;cniques s&oacute;n necess&agrave;ries perqu&egrave; la nostra p&agrave;gina web pugui funcionar, no necessiten la teva autoritzaci&oacute; i s&oacute;n les &uacute;niques que tenim activades per defecte. Per tant, s&oacute;n les &uacute;niques galetes que estaran actives nom&eacute;s prement el bot&oacute; <strong>ACCEPTAR</strong>.</p>
            <p>La resta de galetes serveixen per millorar la nostra p&agrave;gina, per personalitzar-la d&rsquo;acord amb les teves prefer&egrave;ncies, o per poder mostrar-te publicitat ajustada a les teves cerques, gustos i interessos personals. Totes elles les tenim desactivades per defecte, per&ograve; pots activar-les en el nostre apartat <strong>CONFIGURACI&Oacute; DE GALETES</strong>: <strong>pren el control i gaudeix d&rsquo;una navegaci&oacute; personalitzada a la nostra p&agrave;gina, amb un pas tan senzill i r&agrave;pid com &eacute;s marcar les caselles que tu vulguis</strong>. &nbsp; &nbsp; &nbsp;</p>
            <p>Si vols m&eacute;s informaci&oacute;, consulta la <strong>POL&Iacute;TICA DE GALETES</strong> de la nostra p&agrave;gina web.</p>
            {% else %}  
              <p>Welcome to the basic information about the cookies on the website responsible for the entity: <strong>DIPLONAUTIC SL<strong>.</p>
              <p>A cookie or computer cookie is a small file of information that is stored on your computer, smartphone or tablet every time you visit our website. Some cookies are ours and others belong to external companies that provide services for our website.</p>
              <p>Cookies can be of several types: technical cookies are necessary for our website to work, do not need your authorization and are the only ones we have activated by default. Therefore, they are the only cookies that will be active if you only press the <strong>ACCEPT</strong> button.</p>
              <p>The rest of cookies serve to improve our page, to personalize it based on your preferences, or to be able to show you advertising adjusted to your searches, tastes and personal interests. All of them are deactivated by default, but you can activate them in our <strong>COOKIES CONFIGURATION</strong> section: take control and enjoy a personalized navigation on our page, with a step as simple and fast as the checkboxes of the boxes you want.</p>
              <p>If you want more information, consult the <strong>COOKIES POLICY</strong> of our website.</p>
            {% endif %} 
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-center btn-cookie">
            <a href="#" class="cookie-accept">{% trans %}cookies.btn.accept{% endtrans %}</a>
          </div>
          <div class="col-xs-6 text-center btn-cookie">
            <a href="#" class="cookie-decline">{% trans %}cookies.btn.decline{% endtrans %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>