{% trans_default_domain "general" %}
<div class={% if app.request.cookies.get('cookiesAgreement')!= 'true' %}"modal show"{% else %}"modal"{% endif %} tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-content__info">
        <div class="modal-header">
          <h5 class="modal-title text-center">{% trans %}cookies.title{% endtrans %}</h5>
        </div>
        <div class="modal-body">
          <div class="row white mt10">
              <div class="col-md-12 tac fs15 cookie-p">
              {% if app.request.locale == 'ca'%}
                <p>Benvinguda/o a la informaci&oacute; b&agrave;sica sobre les cookies de la p&agrave;gina web responsabilitat de l'entitat:</p>
                <p><strong>DIPLONAUTIC S.L.</strong></p>
                <p>Una cookie o galeta inform&agrave;tica &eacute;s un petit arxiu d'informaci&oacute; que es guarda en el teu ordinador, "smartphone" o tauleta cada vegada que visites la nostra p&agrave;gina web. Algunes cookies s&oacute;n nostres i unes altres pertanyen a empreses externes que presten serveis per a la nostra p&agrave;gina web.</p>
                <p>Les cookies poden ser de diversos tipus: les cookies t&egrave;cniques s&oacute;n necess&agrave;ries perqu&egrave; la nostra p&agrave;gina web pugui funcionar, no necessiten de la teva autoritzaci&oacute; i s&oacute;n les &uacute;niques que tenim activades per defecte.</p>
                <p>La resta de cookies serveixen per millorar la nostra p&agrave;gina, per a personalitzar-la sobre la base de les teves prefer&egrave;ncies, o per a poder mostrar-te publicitat ajustada a les teves cerques, gustos i interessos personals. Pots acceptar totes aquestes cookies prement el bot&oacute; <strong>ACCEPTAR</strong> o configurar-les o rebutjar el seu &uacute;s clicant en l'apartat <strong>CONFIGURACI&Oacute; DE COOKIES</strong>.</p>
                <p>Si vols m&eacute;s informaci&oacute;, consulta la <a href="https://www.diplonautic.com/cookies" target="_blank" rel="noopener" class="cookie-info" title="POL&Iacute;TICA DE COOKIES"><strong>POL&Iacute;TICA DE COOKIES</strong></a> de la nostra p&agrave;gina web.</p>
                {% else %}  
                <p>Welcome to the basic information on cookies on the website responsible for the entity:</p>
                <p><strong>DIPLONAUTIC S.L.</strong></p>
                <p>A cookie is a small file of information that is stored on your computer, "smartphone" or tablet every time you visit our website. Some cookies are ours and others belong to external companies that provide services for our website.</p>
                <p>Cookies can be of several types: technical cookies are necessary for our website to work, they do not need your authorization and are the only ones we have activated by default.</p>
                <p>The other cookies are used to improve our page, to personalize it based on your preferences, or to be able to show you advertising tailored to your searches, tastes and personal interests. You can accept all these cookies by pressing the <strong>ACCEPT</strong> button or configure them or reject their use by clicking on the <strong>COOKIES CONFIGURATION</strong> section.</p>
                <p>For more information, see the <a href="https://www.diplonautic.com/en/cookies" target="_blank" rel="noopener" class="cookie-info" title="COOKIES POLICY"><strong>COOKIES POLICY</strong></a> on our website.</p>
              {% endif %} 
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-5 col-sm-6 text-center btn-cookie">
              <a href="#" class="cookie-accept">{% trans %}cookies.btn.accept{% endtrans %}</a>
            </div>
            <div class="col-xs-7 col-sm-6 text-center btn-cookie">
              <a href="#" class="cookie-conf">{% trans %}cookies.configuration.title{% endtrans %}</a>
            </div>
          </div>
        </div>
      </div>
      {% include "DiplonauticLandingBundle:Default:modal-cookies-configuration.html.twig" %}
    </div>
  </div>
</div>