{%trans_default_domain 'general'%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block title %}{%trans%}header.privacy_policy{%endtrans%} - Diplonautic{% endblock %}
{% block meta_title %}{%trans%}header.privacy_policy{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-description">
                        <div class="fixedContainer">
                            <div class="content">
                                <h1>{% trans %}header.privacy_policy{% endtrans %}</h1>
                                {% if app.request.locale == 'ca'%}
                                <h3>LES SEVES DADES SEGURES</h3> 
                                <p class="h4">Informaci&oacute; en el cumplimient de la normativa de protecci&oacute; de dades personals</p>
                                A Europa i a Espanya existeixen normes de protecci&oacute; de dades pensades per protegir la seva informaci&oacute; personal d'obligat compliment per a la nostra entitat.<br />
                                Per aix&ograve;, &eacute;s molt important per a nosaltres que entengui perfectament qu&egrave; anem a fer amb les dades personals que li demanem.<br />
                                Aix&iacute;, serem transparents i li donarem el control de les seves dades, amb un llenguatge senzill i opcions clares que li permetran decidir qu&egrave; farem amb la seva informaci&oacute; personal.<br />
                                Per favor, si una vegada llegida la present informaci&oacute; li queda algun dubte, no dubti a preguntar-nos.<br />
                                Moltes gr&agrave;cies per la seva col&middot;laboraci&oacute;.</p>
                                <br/>
                                <h4><b>&iquest;Qui som?</b></h4>
                                <p>La nostra denominaci&oacute;: <b>DIPLONAUTIC S.L.</b></p>

                                <p>El nostre CIF / NIF: <b>B66501818</b></p>

                                <p> La nostra activitat principal: <b>INSTALACI&Oacute;N DE AIRE ACONDICIONADO EN BARCOS</b></p>

                                <p> La nostra adre&ccedil;a: <b>Av. Manuel Fern&aacute;ndez M&aacute;rquez 73 Local 6, CP 08930, Sant Adri&agrave; del Bes&ograve;s (Barcelona)</b></p>

                                <p>El nostre tel&egrave;fon de contacte: <b>930.106.884</b></p>

                                <p>La nostra adre&ccedil;a de correu electr&ograve;nic de contacte: <b>ps@diplonautic.com</b></p>

                                <p>La nostra p&aacute;gina web: <b>www.diplonautic.com</b></p>

                                <p>Per a la seva confian&ccedil;a i seguretat, l'informem que som una entitat inscrita en el seg&uuml;ent Registre Mercantil /Registre P&uacute;blic:</p>

                                <p>La nostra activitat principal est&agrave; subjecta a un r&egrave;gim d'autoritzaci&oacute; administrativa pr&egrave;via. Per a la seva confian&ccedil;a i seguretat, li facilitem les dades relatives a aquesta autoritzaci&oacute; i els identificatius de l'&ograve;rgan competent de la nostra supervisi&oacute;:<br />
                                Autoritzaci&oacute; administrativa:<br />
                                &Ograve;rgan encarregat de la nostra supervisi&oacute;:<br />
                                </p>

                                <p>El responsable d'aquesta p&agrave;gina web exerceix una professi&oacute; regulada, per a aix&ograve; li facilitem la seg&uuml;ent informaci&oacute;:<br />
                                Col&middot;legi professional al qual pertany:<br />
                                T&iacute;tol acad&egrave;mic oficial o professional:<br />
                                Estat de la Uni&oacute; Europea en qu&egrave; es va expedir aquest t&iacute;tol:<br />
                                Normes professionals aplicables a l'exercici de la professi&oacute;:<br />
                                </p>

                                <p>Estem a la seva disposici&oacute;, no dubti a contactar amb nosaltres. </p>
                                <br/>
                                <h4><b>Per a qu&egrave; utilitzarem les seves dades?</b></h4>

                                <p>Amb car&agrave;cter general, les seves dades personals seran usats per poder relacionar-nos amb vost&egrave; i poder prestar-li els nostres serveis.<br />
                                Aix&iacute; mateix, tamb&eacute; poden ser usats per a altres activitats, com enviar-li publicitat o promocionar les nostres activitats.</p>
                                <br/>
                                <h4><b>Per qu&egrave; necessitem usar les seves dades?</b></h4>
                                <p>Les seves dades personals s&oacute;n necess&agrave;ries per poder relacionar-nos amb vost&egrave; i poder prestar-li els nostres serveis. En aquest sentit, posarem a la seva disposici&oacute; una s&egrave;rie de caselles que li permetran decidir de manera clara i senzilla sobre l'&uacute;s de la seva informaci&oacute; personal.</p>
                                <br/>
                                <h4><b>Qui coneixer&agrave; la informaci&oacute; que li demanem?</b></h4>

                                <p>Amb car&agrave;cter general, nom&eacute;s el personal de la nostra entitat que estigui degudament autoritzat podr&agrave; tenir coneixement de la informaci&oacute; que li demanem.<br />
                                D'igual manera, podran tenir coneixement de la seva informaci&oacute; personal aquelles entitats que necessitin tenir acc&eacute;s a la mateixa perqu&egrave; puguem prestar-li els nostres serveis. Aix&iacute; per exemple, el nostre banc coneixer&agrave; les seves dades si el pagament dels nostres serveis es realitza mitjan&ccedil;ant targeta o transfer&egrave;ncia banc&agrave;ria.</p>

                                <p>Aix&iacute; mateix, tindran coneixement de la seva informaci&oacute; aquelles entitats p&uacute;bliques o privades a les quals estiguem obligats a facilitar les seves dades personals amb motiu del compliment d'alguna llei. Posant-li un exemple, la Llei Tribut&agrave;ria obliga a facilitar a l'Ag&egrave;ncia Tribut&agrave;ria determinada informaci&oacute; sobre operacions econ&ograve;miques que superin una determinada quantitat.</p>

                                <p>En el cas que, al marge dels sup&ograve;sits comentats, necessitem donar a con&egrave;ixer la seva informaci&oacute; personal a altres entitats, li sol&middot;licitarem pr&egrave;viament el seu perm&iacute;s a trav&eacute;s d'opcions clares que li permetran decidir referent a aix&ograve;.</p>
                                <br/>
                                <h4><b>Com protegirem les seves dades?</b></h4>

                                <p>Protegirem les seves dades amb mesures de seguretat eficaces en funci&oacute; dels riscos que comporti l'&uacute;s de la seva informaci&oacute;.<br />
                                Per a aix&ograve;, la nostra entitat ha aprovat una Pol&iacute;tica de Protecci&oacute; de Dades i es realitzen controls i auditories anuals per verificar que les seves dades personals estan segurs a tot moment.</p>
                                <br/>
                                <h4><b>Enviarem les seves dades a altres pa&iuml;sos?</b></h4>

                                <p>Al m&oacute;n hi ha pa&iuml;sos que s&oacute;n segurs per a les seves dades i uns altres que no ho s&oacute;n tant. Aix&iacute; per exemple, la Uni&oacute; Europea &eacute;s un entorn segur per a les seves dades. La nostra pol&iacute;tica &eacute;s no enviar la seva informaci&oacute; personal a cap pa&iacute;s que no sigui segur des del punt de vista de la protecci&oacute; de les seves dades.<br />
                                En el cas que, amb motiu de prestar-li el servei, sigui imprescindible enviar les seves dades a un pa&iacute;s que no sigui tan segur com Espanya, sempre li sol&middot;licitarem pr&egrave;viament el seu perm&iacute;s i aplicarem mesures de seguretat eficaces que redueixin els riscos de l'enviament de la seva informaci&oacute; personal a un altre pa&iacute;s.</p>
                                <br/>
                                <h4><b>Durant quant temps conervarem les seves dades?</b></h4>

                                <p>Conservarem les seves dades durant la nostra relaci&oacute; i mentre ens obliguin les lleis. Una vegada finalitzats els terminis legals aplicables, procedirem a eliminar-los de forma segura i respectuosa amb el medi ambient.</p>
                                <br/>
                                <h4><b>Quins s&oacute;n els seus drets de protecci&oacute; de dades?</b></h4>

                                <p>En qualsevol moment pot dirigir-se a nosaltres per saber quina informaci&oacute; tenim sobre vost&egrave;, rectificar-la si an&eacute;s incorrecta i eliminar-la una vegada finalitzada la nostra relaci&oacute;, en el cas que aix&ograve; sigui legalment possible. Tamb&eacute; t&eacute; dret a sol&middot;licitar el trasp&agrave;s de la seva informaci&oacute; a una altra entitat. Aquest dret es diu &quot;portabilitat&quot; i pot ser &uacute;til en determinades situacions. Per sol&middot;licitar algun d'aquests drets, haur&agrave; de realitzar una sol&middot;licitud escrita a la nostra adre&ccedil;a, juntament amb una fotoc&ograve;pia del seu DNI, per poder identificar-li. En les oficines de la nostra entitat disposem de formularis espec&iacute;fics per sol&middot;licitar aquests drets i li oferim la nostra ajuda per al seu emplenament. Per saber m&eacute;s sobre els seus drets de protecci&oacute; de dades, pot consultar la p&agrave;gina web de l'Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades (www.agpd.es).</p>
                                <br/>
                                <h4><b>Pot retirar el seu consentiment si canvia d'opini&oacute; en un moment posterior?</b></h4>

                                <p>Vost&egrave; pot retirar el seu consentiment si canvia d'opini&oacute; sobre l'&uacute;s de les seves dades a qualsevol moment.</p>

                                <p>Aix&iacute; per exemple, si vost&egrave; en el seu moment va estar interessat/a en rebre publicitat dels nostres productes o serveis, per&ograve; ja no desitja rebre m&eacute;s publicitat, pot fer-nos-ho constar a trav&eacute;s del formulari d'oposici&oacute; al tractament disponible en les oficines de la nostra entitat.</p>
                                <br/>
                                <h4><b>En cas que entengui que els seus drets han estat desatesos, on pot formular una reclamaci&oacute;?</b></h4>

                                <p>En cas que entengui que els seus drets han estat desatesos per la nostra entitat, pot formular una reclamaci&oacute; en l'Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades, a trav&eacute;s d'algun dels mitjans seg&uuml;ents:</p>

                                <p>
                                Seu electr&ograve;nica: www.agpd.es</p>

                                <p>Adre&ccedil;a postal:<br />
                                Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades<br />
                                C/ Jorge Juan, 6<br />
                                28001-Madrid</p>

                                <p>Via telef&ograve;nica:<br />
                                Tel. 901 100 099<br />
                                Tel. 91 266 35 17</p>

                                <p>Formular una reclamaci&oacute; en l'Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades no comporta cap cost i no &eacute;s necess&agrave;ria l'assist&egrave;ncia d'advocat ni procurador.</p>
                                <br/>
                                <h4><b>Elaborarem perfils sobre vost&egrave;?</b></h4>

                                <p>La nostra pol&iacute;tica &eacute;s no elaborar perfils sobre els usuaris dels nostres serveis.<br />
                                No obstant aix&ograve;, poden existir situacions en les quals, amb finalitats de prestaci&oacute; del servei, comercials o d'un altre tipus, necessitem elaborar perfils d'informaci&oacute; sobre vost&egrave;. Un exemple pogu&eacute;s ser la utilitzaci&oacute; del seu historial de compres o serveis per poder oferir-li productes o serveis adaptats als seus gustos o necessitats.<br />
                                En tal cas, aplicarem mesures de seguretat eficaces que protegeixin la seva informaci&oacute; a tot moment de persones no autoritzades que pretenguin utilitzar-la en el seu propi benefici.<br />
                                                                <br/>
                                <h4><b>Usarem les seves dades per a altres finalitats?</b></h4>

                                <p>La nostra pol&iacute;tica &eacute;s no usar les seves dades per a altres finalitats diferents de les quals li hem explicat. Si, no obstant aix&ograve;, necessit&eacute;ssim usar les seves dades per a activitats diferents, sempre li sol&middot;licitarem pr&egrave;viament el seu perm&iacute;s a trav&eacute;s d'opcions clares que li permetran decidir sobre aquest tema.<br />
                                </p>
                                {% else %}
                                <h3>I. INFORMATION PURSUANT TO THE PROVISIONS OF SPANISH LAW 34/2002, OF 11 JULY, ON INFORMATION SOCIETY SERVICES AND ELECTRONIC COMMERCE</h3>
                                <p>In compliance with the provisions of Article 10 of Spanish Law 34/2002, of 11 July, on Information Society Services and Electronic Commerce (hereinafter LSSI-CE), we inform explicitly, precisely and unequivocally, both service recipients as the competent bodies, of the following aspects of the Information Society Services provider:<br><br>
                                 
                                NAME / CORPORATE NAME : DIPLONAUTIC S.L.<br>
                                CIF / NIF: B66501818<br>
                                ACTIVITY / SOCIAL OBJECT: INSTALACIÓN DE AIRE ACONDICIONADO EN BARCOS<br>
                                REGISTERED OFFICE: AVENIDA PRINCIPE DE ASTURIAS,48 5º 2ª, 08019 - BARCELONA (Barcelona)<br>
                                PHONE: 930.106.884; 690.600.449<br>
                                EMAIL ADDRESS: xs@diplonautic.com; ps@diplonautic.com<br>
                                WEB ADDRESS: www.diplonautic.com<br><br>
                                </p>

                                <h3>II. INFORMATION PURSUANT TO THE PROVISIONS OF THE ORGANIC LAW ON THE PROTECTION OF PERSONAL DATA</h3>
                                                                <br/> 
                                <h4>1. PRINCIPLE OF INFORMATION</h4>

                                <p>In compliance with the provisions of Article 5 of Spanish ORGANIC LAW 15/1999, of 13 December, on the Protection of Personal Data (hereinafter LOPD), we inform you explicitly, precisely and unequivocally that the data provided by you through the contact form established on our website or any other channel for collecting data, as well as those data generated during your relationship with our organization, will be processed on files company responsibility , duly notified to the General Data Protection Register of the Spanish Data Protection Agency , for the purpose of the compliance and maintenance of the relationship of the recipient of service with our organization and services derivative thereof.<br>
                                Also, In compliance with the provisions of the LOPD and Spanish Law 34/2002, of 11 July, on Information Society Services and Electronic Commerce (hereinafter LSSI-CE), we inform that your data may be used for the purpose of sending commercial communications and complimentary regarding our company via telephone , regular mail , fax, e-mail or equivalent electronic medias.<br>
                                Likewise, we inform you that your data will be communicated in all those cases where it is necessary for the development , implementation and control of the relationship of the recipient of service with our organization, or in cases where authorized by a rule having the force of law and in particular, under the concurrence of the following assumptions:<ul><li> a) Treatment or communication of the data is aimed at satisfying a legitimate interest of the controller or the transferee covered by this legal rule;</li><li> b) Treatment or communication of the data is necessary for the controller in order to comply with a duty imposed by that legal rule.</li></ul><br><br>
                                                                <br/></p>
                                <h4>2. PRINCIPLE OF CONSENT</h4>
                                <p>
                                The consent to the processing of your data for the purposes described in the previous paragraph is provided through marking the appropriate box provided for this purpose on our website.<br><br></p>
                                                                <br/> 
                                <h4>3. OBLIGATORY OR VOLUNTARY NATURE OF THE REQUESTED DATA</h4>

                                <p>The completion of all and each of the fields provided for that purpose on our website forms is obligatory (otherwise, fields that are obligatory will be marked with an asterisk). The refusal to provide data would imply the impossibility of the compliance and maintenance of the relationship of the recipient of service with our organization, since they are necessary for the provision of services derived thereof.<br><br></p>
                                                                <br/> 
                                <h4>4. PRINCIPLE OF DATA QUALITY</h4>

                                <p>The recipient of service is solely responsible for the accuracy of the data provided, acting the company in good faith, only as service provider.<br>
                                In the event that the recipient of service provides false information or data third parties without their consent, he will be personally liable to personally front the company, data subjects, Spanish Data Protection Agency and, where appropriate, regional  data protection authorities, from responsibilities arising from that fact.<br>
                                The company does not collect data on persons under fourteen years through its website. In the event that a person under fourteen years provides his data through the form provided for that purpose on our website or any other channel for collecting data, it will proceed to immediate destruction of the data at the same time that the company is aware of such circumstances.<br> 
                                In order to comply with the provisions of Article 4.3 of the LOPD, the recipient of service agrees to notify the company the changes that occur in your data, so that they respond truthfully to his current situation throughout times.<br><br>
                                </p>
                                                                <br/>
                                <h4>5. PRINCIPLE OF DATA SECURITY</h4>

                                <p>The company is committed to fulfilling its obligation of secrecy as regards the personal data and its duty to protect them and adopt the technical and organizational measures necessary to ensure the security of the personal data and prevent their alteration, loss, unauthorized processing or access, having regard to the state of the art, the nature of the data stored and the risks to which they are exposed by virtue of human action or the physical or natural environment, developed in Title VIII of the Royal Decree 1720/2007, of 21 December, which approves the Regulation implementing Organic Law 15/1999, of 13 December, on the Protection of Personal Data.<br><br></p>
                                                                <br/> 
                                <h4>6. EXERCISE OF RIGHTS</h4>

                                <p>In compliance with the LOPD, and Royal Decree 1720/2007, of 21 December, approving the Regulations implementing the same, the recipient of service may exercise, at any time, access rights, rectification, cancellation and opposition with regards to the data controller, enclosing a photocopy of his ID.<br><br></p>
                                                                <br/> 
                                <h4>7. IDENTITY OF THE CONTROLLER</h4>

                                <p>The identity of the controller is _____________________., with address for notifications purposes at c/ ________________________________________________________________
                                You agree, through marking this box, the processing of your data for the purposes described in the Privacy Policy.<br>
                                You object, through marking this box, the processing of your data for commercial or promotional purposes by our organization.
                                </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                   
                    <div class="col-sm-1 languages hidden-xs">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %} title="{%trans%}languages.cat{%endtrans%}">
                                CAT
                            </a>
                        </div>
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %} title="{%trans%}languages.en{%endtrans%}">
                                ENG
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}