{%trans_default_domain 'general'%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block title %}{%trans%}header.privacy_policy{%endtrans%} - Diplonautic{% endblock %}
{% block meta_title %}{%trans%}header.privacy_policy{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-legal">
                        <div class="fixedContainer">
                            <div class="content">
                                <h1>{% trans %}header.privacy_policy{% endtrans %}</h1>
                                {% if app.request.locale == 'ca'%}
                                <h3>LES SEVES DADES SEGURES</h3> 
                                <p class="h4">Informaci&oacute; en el cumplimient de la normativa de protecci&oacute; de dades personals</p>
                                A Europa i a Espanya existeixen normes de protecci&oacute; de dades pensades per protegir la seva informaci&oacute; personal d'obligat compliment per a la nostra entitat.<br />
                                Per aix&ograve;, &eacute;s molt important per a nosaltres que entengui perfectament qu&egrave; anem a fer amb les dades personals que li demanem.<br />
                                Aix&iacute;, serem transparents i li donarem el control de les seves dades, amb un llenguatge senzill i opcions clares que li permetran decidir qu&egrave; farem amb la seva informaci&oacute; personal.<br />
                                Per favor, si una vegada llegida la present informaci&oacute; li queda algun dubte, no dubti a preguntar-nos.<br />
                                Moltes gr&agrave;cies per la seva col&middot;laboraci&oacute;.</p>
                                <ul>
                                    <li>
                                        <h4><b>&iquest;Qui som?</b></h4>
                                        <ul>
                                            <li>La nostra denominaci&oacute;: <b>DIPLONAUTIC S.L.</b></li>
                                            <li>El nostre CIF / NIF: <b>B66501818</b></li>
                                            <li>La nostra activitat principal: <b>INSTALACI&Oacute;N DE AIRE ACONDICIONADO EN BARCOS</b></li>
                                            <li>La nostra adre&ccedil;a: <b>Av. Manuel Fern&aacute;ndez M&aacute;rquez 73 Local 6, CP 08930, Sant Adri&agrave; del Bes&ograve;s (Barcelona)</b></li>
                                            <li>El nostre tel&egrave;fon de contacte: <b>930.106.884</b></li>
                                            <li>La nostra adre&ccedil;a de correu electr&ograve;nic de contacte: <b><span class="mail">moc.cituanolpid@sp</span></b></li>
                                            <li>La nostra p&aacute;gina web: <b>www.diplonautic.com</b></li>
                                            <li>Per a la seva confian&ccedil;a i seguretat, l'informem que som una entitat inscrita en el seg&uuml;ent Registre Mercantil /Registre P&uacute;blic: Barcelona</li>
                                            <p>Estem a la seva disposició, no dubti a contactar amb nosaltres.</p>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4><b>Per a qu&egrave; utilitzarem les seves dades?</b></h4>
                                        <p>Amb car&agrave;cter general, les seves dades personals seran usats per poder relacionar-nos amb vost&egrave; i poder prestar-li els nostres serveis.<br />
                                Aix&iacute; mateix, tamb&eacute; poden ser usats per a altres activitats, com enviar-li publicitat o promocionar les nostres activitats.</p>
                                    </li>
                                    <li>
                                        <h4><b>Per qu&egrave; necessitem usar les seves dades?</b></h4>
                                        <p>Les seves dades personals s&oacute;n necess&agrave;ries per poder relacionar-nos amb vost&egrave; i poder prestar-li els nostres serveis. En aquest sentit, posarem a la seva disposici&oacute; una s&egrave;rie de caselles que li permetran decidir de manera clara i senzilla sobre l'&uacute;s de la seva informaci&oacute; personal.</p>
                                    </li>
                                    <li>
                                        <h4><b>Qui coneixer&agrave; la informaci&oacute; que li demanem?</b></h4>
                                        <p>Amb car&agrave;cter general, nom&eacute;s el personal de la nostra entitat que estigui degudament autoritzat podr&agrave; tenir coneixement de la informaci&oacute; que li demanem.<br />
                                        D'igual manera, podran tenir coneixement de la seva informaci&oacute; personal aquelles entitats que necessitin tenir acc&eacute;s a la mateixa perqu&egrave; puguem prestar-li els nostres serveis. Aix&iacute; per exemple, el nostre banc coneixer&agrave; les seves dades si el pagament dels nostres serveis es realitza mitjan&ccedil;ant targeta o transfer&egrave;ncia banc&agrave;ria.</p>
                                        <p>Aix&iacute; mateix, tindran coneixement de la seva informaci&oacute; aquelles entitats p&uacute;bliques o privades a les quals estiguem obligats a facilitar les seves dades personals amb motiu del compliment d'alguna llei. Posant-li un exemple, la Llei Tribut&agrave;ria obliga a facilitar a l'Ag&egrave;ncia Tribut&agrave;ria determinada informaci&oacute; sobre operacions econ&ograve;miques que superin una determinada quantitat.</p>
                                        <p>En el cas que, al marge dels sup&ograve;sits comentats, necessitem donar a con&egrave;ixer la seva informaci&oacute; personal a altres entitats, li sol&middot;licitarem pr&egrave;viament el seu perm&iacute;s a trav&eacute;s d'opcions clares que li permetran decidir referent a aix&ograve;.</p>
                                    </li>
                                    <li>
                                        <h4><b>Com protegirem les seves dades?</b></h4>
                                        <p>Protegirem les seves dades amb mesures de seguretat eficaces en funci&oacute; dels riscos que comporti l'&uacute;s de la seva informaci&oacute;.<br />
                                        Per a aix&ograve;, la nostra entitat ha aprovat una Pol&iacute;tica de Protecci&oacute; de Dades i es realitzen controls i auditories anuals per verificar que les seves dades personals estan segurs a tot moment.</p>
                                    </li>
                                    <li>
                                        <h4><b>Enviarem les seves dades a altres pa&iuml;sos?</b></h4>
                                        <p>Al m&oacute;n hi ha pa&iuml;sos que s&oacute;n segurs per a les seves dades i uns altres que no ho s&oacute;n tant. Aix&iacute; per exemple, la Uni&oacute; Europea &eacute;s un entorn segur per a les seves dades. La nostra pol&iacute;tica &eacute;s no enviar la seva informaci&oacute; personal a cap pa&iacute;s que no sigui segur des del punt de vista de la protecci&oacute; de les seves dades.<br />
                                        En el cas que, amb motiu de prestar-li el servei, sigui imprescindible enviar les seves dades a un pa&iacute;s que no sigui tan segur com Espanya, sempre li sol&middot;licitarem pr&egrave;viament el seu perm&iacute;s i aplicarem mesures de seguretat eficaces que redueixin els riscos de l'enviament de la seva informaci&oacute; personal a un altre pa&iacute;s.</p>
                                    </li>
                                    <li>
                                        <h4><b>Durant quant temps conervarem les seves dades?</b></h4>
                                        <p>Conservarem les seves dades durant la nostra relaci&oacute; i mentre ens obliguin les lleis. Una vegada finalitzats els terminis legals aplicables, procedirem a eliminar-los de forma segura i respectuosa amb el medi ambient.</p>
                                    </li>
                                    <li>
                                        <h4><b>Quins s&oacute;n els seus drets de protecci&oacute; de dades?</b></h4>
                                        <p>En qualsevol moment pot dirigir-se a nosaltres per saber quina informaci&oacute; tenim sobre vost&egrave;, rectificar-la si an&eacute;s incorrecta i eliminar-la una vegada finalitzada la nostra relaci&oacute;, en el cas que aix&ograve; sigui legalment possible. Tamb&eacute; t&eacute; dret a sol&middot;licitar el trasp&agrave;s de la seva informaci&oacute; a una altra entitat. Aquest dret es diu &quot;portabilitat&quot; i pot ser &uacute;til en determinades situacions. Per sol&middot;licitar algun d'aquests drets, haur&agrave; de realitzar una sol&middot;licitud escrita a la nostra adre&ccedil;a, juntament amb una fotoc&ograve;pia del seu DNI, per poder identificar-li. En les oficines de la nostra entitat disposem de formularis espec&iacute;fics per sol&middot;licitar aquests drets i li oferim la nostra ajuda per al seu emplenament. Per saber m&eacute;s sobre els seus drets de protecci&oacute; de dades, pot consultar la p&agrave;gina web de l'Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades (<a href="https://www.agpd.es" target="_blank">www.agpd.es</a>).</p>
                                    </li>
                                    <li>
                                        <h4><b>Pot retirar el seu consentiment si canvia d'opini&oacute; en un moment posterior?</b></h4>
                                        <p>Vost&egrave; pot retirar el seu consentiment si canvia d'opini&oacute; sobre l'&uacute;s de les seves dades a qualsevol moment.</p>
                                        <p>Aix&iacute; per exemple, si vost&egrave; en el seu moment va estar interessat/a en rebre publicitat dels nostres productes o serveis, per&ograve; ja no desitja rebre m&eacute;s publicitat, pot fer-nos-ho constar a trav&eacute;s del formulari d'oposici&oacute; al tractament disponible en les oficines de la nostra entitat.</p>
                                    </li>
                                    <li>
                                        <h4><b>En cas que entengui que els seus drets han estat desatesos, on pot formular una reclamaci&oacute;?</b></h4>
                                        <p>En cas que entengui que els seus drets han estat desatesos per la nostra entitat, pot formular una reclamaci&oacute; en l'Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades, a trav&eacute;s d'algun dels mitjans seg&uuml;ents:</p>
                                        <ul>
                                            <li>Seu electr&ograve;nica: <a href="https://www.agpd.es" target="_blank">www.agpd.es</a></li>
                                            <li>Adre&ccedil;a postal:<br />
                                                Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades<br />
                                                C/ Jorge Juan, 6<br />
                                                28001-Madrid
                                            </li>
                                            <li>
                                                Via telef&ograve;nica:<br />
                                                Tel. 901 100 099<br />
                                                Tel. 91 266 35 17
                                            </li>
                                        </ul>
                                        <p>Formular una reclamaci&oacute; en l'Ag&egrave;ncia Espanyola de Protecci&oacute; de Dades no comporta cap cost i no &eacute;s necess&agrave;ria l'assist&egrave;ncia d'advocat ni procurador.</p>
                                    </li>
                                    <li>
                                        <h4><b>Elaborarem perfils sobre vost&egrave;?</b></h4>
                                        <p>La nostra pol&iacute;tica &eacute;s no elaborar perfils sobre els usuaris dels nostres serveis.<br />
                                        No obstant aix&ograve;, poden existir situacions en les quals, amb finalitats de prestaci&oacute; del servei, comercials o d'un altre tipus, necessitem elaborar perfils d'informaci&oacute; sobre vost&egrave;. Un exemple pogu&eacute;s ser la utilitzaci&oacute; del seu historial de compres o serveis per poder oferir-li productes o serveis adaptats als seus gustos o necessitats.<br />
                                        En tal cas, aplicarem mesures de seguretat eficaces que protegeixin la seva informaci&oacute; a tot moment de persones no autoritzades que pretenguin utilitzar-la en el seu propi benefici.</p>
                                    </li>
                                    <li>
                                        <h4><b>Usarem les seves dades per a altres finalitats?</b></h4>
                                        <p>La nostra pol&iacute;tica &eacute;s no usar les seves dades per a altres finalitats diferents de les quals li hem explicat. Si, no obstant aix&ograve;, necessit&eacute;ssim usar les seves dades per a activitats diferents, sempre li sol&middot;licitarem pr&egrave;viament el seu perm&iacute;s a trav&eacute;s d'opcions clares que li permetran decidir sobre aquest tema.</p>
                                    </li>
                                </ul>
                                {% else %}
                                <h3>YOUR SAFE DATA</h3> 
                                <p class="h4">Information in compliance with the regulations on the protection of personal data</p>
                                <p>There are data protection regulations in Europe and in Spain designed to protect your personal information that is mandatory for our organization.
                                <br/>
                                Therefore, it is very important for us to understand perfectly what we are going to do with the personal data we ask for.<br />
                                Thus, we will be transparent and will give you control over your data, with simple language and clear options that will allow you to decide what we will do with your personal information.<br />
                                Please, if you have read the present information, have any questions, do not hesitate to ask us.<br />
                                Thank you very much for your cooperation.</p>
                                <ul>
                                    <li>
                                        <h4><b>Who are we?</b></h4>
                                        <ul>
                                            <li>Our name: <b>DIPLONAUTIC S.L.</b></li>
                                            <li>Our CIF / NIF: <b>B66501818</b></li>
                                            <li>Our main activity: <b>INSTALACI&Oacute;N DE AIRE ACONDICIONADO EN BARCOS</b></li>
                                            <li>Our address: <b>Av. Manuel Fern&aacute;ndez M&aacute;rquez 73 Local 6, CP 08930, Sant Adri&agrave; del Bes&ograve;s (Barcelona)</b></li>
                                            <li>Our contact telephone number: <b>930.106.884</b></li>
                                            <li>Our contact email address: <b><span class="mail">moc.cituanolpid@sp</span></b></li>
                                            <li>Our website: <b>www.diplonautic.com</b></li>
                                            <li>For your trust and security, we inform you that we are an entity registered in the following Commercial Registry / Public Registry: Barcelona</li>
                                            <p>We are at your disposal, do not hesitate to contact us.</p>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4><b>What will we use for your data?</b></h4>
                                        <p>In general, your personal data will be used to be able to relate to you and be able to provide you with our services.<br />
                                        They can also be used for other activities, such as sending advertisements or promoting our activities.</p>
                                    </li>
                                    <li>
                                        <h4><b>Why do we need to use your data?</b></h4>
                                        <p>Your personal information is necessary to be able to relate to you and to be able to provide you with our services. In this sense, we will put at your disposal a series of boxes that will allow you to decide clearly and simply about the use of your personal information.</p>
                                    </li>
                                    <li>
                                        <h4><b>Who will know the information we ask?</b></h4>
                                        <p>In general, only the personnel of our entity that is duly authorized can have knowledge of the information we request.<br />
                                        In the same way, those entities that need access to the same may be aware of their personal information so that we can provide our services. For example, our bank will know your information if payment of our services is made through a card or bank transfer.</p>
                                        <p>Likewise, they will have knowledge of their information those public or private entities to which we are obligated to provide their personal data on the occasion of the fulfillment of some law. By setting an example, the Tax Law obliges the Tax Agency to provide information on economic transactions that exceed a certain amount.</p>
                                        <p>In the event that, apart from the cases discussed, we need to disclose your personal information to other entities, we will request you prior permission through clear options that will allow you to decide on this.</p>
                                    </li>
                                    <li>
                                        <h4><b>How will we protect your data?</b></h4>
                                        <p>We will protect your data with effective security measures based on the risks that the use of your information entails.<br />
                                        For this, our entity has approved a Data Protection Policy and annual checks and audits are carried out to verify that your personal data are safe at all times.</p>
                                    </li>
                                    <li>
                                        <h4><b>Will we send your data to other countries?</b></h4>
                                        <p>There are countries in the world that are safe for your data and others that are not so. For example, the European Union is a safe environment for your data. Our policy is not to send your personal information to any country that is not secure from the point of view of the protection of your data.<br />
                                        In the event that, in order to provide the service, it is essential to send your data to a country that is not as safe as Spain, we will always ask for your permission beforehand and apply effective security measures that reduce the risks from sending your personal information to another country.</p>
                                    </li>
                                    <li>
                                        <h4><b>How long will you convince your data?</b></h4>
                                        <p>We will preserve your data during our relationship and as long as we enforce the laws. Once the applicable legal deadlines have been completed, we will proceed to eliminate them in a safe and respectful way with the environment.</p>
                                    </li>
                                    <li>
                                        <h4><b>What are your data protection rights?</b></h4>
                                        <p>At any time you can contact us to know what information we have about you, rectify it if it was incorrect and eliminate it once our relationship has finished, in case this is legally possible. You also have the right to request the transfer of your information to another entity. This right is called "portability" and can be useful in certain situations. To request any of these rights, you must make a written request to our address, together with a photocopy of your DNI, to identify you. In the offices of our entity we have specific forms to request these rights and we offer you our help for its completion. To learn more about your data protection rights, you can consult the website of the Spanish Data Protection Agency (<a href="https://www.agpd.es" target="_blank">www.agpd.es</a>).</p>
                                    </li>
                                    <li>
                                        <h4><b>Can you withdraw your consent if you change your mind at a later time?</b></h4>
                                        <p>You may withdraw your consent if you change your opinion about the use of your data at any time.</p>
                                        <p>For example, if you were interested in advertising our products or services at the time, but you no longer want to receive more advertising, you can check it through the opposition form to the treatment available in the offices of our entity.</p>
                                    </li>
                                    <li>
                                        <h4><b>In case you understand that your rights have been neglected, where can you file a claim?</b></h4>
                                        <p>In the event that you understand that your rights have been neglected by our entity, you can make a claim at the Spanish Data Protection Agency, through any of the following means:</p>
                                        <ul>
                                            <li>Electronic headquarters: <a href="https://www.agpd.es" target="_blank">www.agpd.es</a></li>
                                            <li>Postal address:<br />
                                                Spanish Agency for Data Protection<br />
                                                C/ Jorge Juan, 6<br />
                                                28001-Madrid
                                            </li>
                                            <li>
                                                Telephone route:<br />
                                                Tel. 901 100 099<br />
                                                Tel. 91 266 35 17
                                            </li>
                                        </ul>
                                        <p>Forming a complaint at the Spanish Data Protection Agency does not entail any cost and the assistance of a lawyer or solicitor is not necessary.</p>
                                    </li>
                                    <li>
                                        <h4><b>Will we draw profiles about you?</b></h4>
                                        <p>Our policy is not to create profiles about the users of our services.<br />
                                        However, there may be situations in which, for the purpose of providing the service, commercial or otherwise, we need to create profiles of information about you. An example could be the use of your shopping history or services to be able to offer products or services adapted to your tastes or needs.<br />
                                        In this case, we will implement effective security measures that will protect your information at all times from unauthorized persons who intend to use it for their own benefit.</p>
                                    </li>
                                    <li>
                                        <h4><b>Will we use your data for other purposes?</b></h4>
                                        <p>Our policy is not to use your data for other purposes than the ones we have explained to you. If, however, we needed to use your data for different activities, we will always ask for your permission through clear options that will allow you to decide on this topic.</p>
                                    </li>
                                </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                   
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}