# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
app/SymfonyRequirements.php
app/check.php
bin/


# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
/nbproject/private/
/web/licenses/
.DS_Store