/* 
    Created on : 24/05/2015, 20:28:35
    Author     : dan
*/
/*----------------------------GENERAL CLASSES---------------------------------*/
body{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: url(../images/Background-web.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position:absolute;
}
.wrapper{
    min-height:100%;
}
a{
    color: #fff;
}
h2, .h2{
    font-size: 24px;
}
h3, .h3{
    font-size: 22px;
    line-height: 26px;
}
h4, .h4{
    font-size: 18px;
}
/*-----------------------------Header--------------------------------------*/

.nav-logo{
    min-height: 85px;
    background-color: rgba(0,67,95,0.5);
    width: 41.466667%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-logo> a > img {
    height: 65px;
}
.navbar-diplonautic{
    background-color: rgba(0,67,95,0.7);
    font-size: 0.8125em;
    min-height: 85px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-diplonautic>.navbar-nav>li>a{
    min-width: 175px;
    padding-top: 33px;
    padding-bottom: 32px;
}
.navbar-diplonautic>.navbar-nav>li:after{
    border-right: 1px solid;
    content: "";
    position: absolute;
    height: 19px;
    right: 0px;
    top: 33px;
}
.navbar-diplonautic>.navbar-nav>li:last-child:after{
    border-right: none;
}

.navbar-diplonautic>.navbar-nav>li>a:hover{
    background-color: rgba(255,255,255,0.7);
    color: #fff;
}
.navbar-diplonautic>.navbar-nav>li:first-child>a{
    border-left: none;
}
.division{
    width: 0.2%;
    min-height: 12px;
    float: left;
}
@media only screen and (min-width:768px) {
    .nav-logo{
        width: 24.8%;
        padding-top: 29px;
        padding-bottom: 29px;
    }
    .nav-logo> a > img {
        height: 26px;
    }
    .navbar-diplonautic>.navbar-nav>li>a{
    min-width: 106px;
    padding-top: 33px;
    padding-bottom: 32px;
}
}
@media only screen and (min-width:992px) {
    .nav-logo{
        width: 33.133333%;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .nav-logo> a > img {
        height: 50px;
    }
    .navbar-diplonautic>.navbar-nav>li>a{
        min-width: 129px;
    }
}
@media only screen and (min-width:1200px) {
    .nav-logo{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-logo> a > img {
        height: 60px;
    }
    .navbar-diplonautic>.navbar-nav>li>a{
        min-width: 158px;
    }
}
/*--------------------------------home----------------------------------------*/
.main{
    margin: 120px 0;
}
.main-description{
    background-color: rgba(0,67,95,0.8);
    min-height: 425px;
    padding: 37px 74px;
}

.main-description img{
    width: 100%;
}
.main-description ul{
    list-style: none;
    padding: 0px;
}
.main-marks{
    background-color: #fff;
    height: 425px;
    padding: 30px;
}
.main-marks td{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.main-marks td img{
    width: 100%;
}

.main-description-product{
    background-color: rgba(0,67,95,0.8);
    min-height: 425px;
    padding: 37px;
}
.main-description-product img{
    height: 50px;
    width: auto;
}

.languages div{
    background-color: rgba(0,67,95,0.5);
    margin-bottom: 6px;
    padding: 8px;
}
.languages div:hover,
.languages div:focus,
.languages div:active{
    background-color: rgba(120,189,218,0.5);
    color: #fff;
}
.divisory{
    border-bottom: 1px solid #fff;
    width: 100%;
    right: 73px;
    position: relative;
    margin-bottom: 13px;
}

.divisory .sub-div1 {
    width: 31px;
    height: 15px;
    border-bottom: 1px solid white;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-60deg);
    position: absolute;
    top: -44px;
    /* left: 383px; */
    right: -12px;
}
.divisory .sub-div2 {
    width: 21px;
    height: 15px;
    border-bottom: 1px solid white;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-60deg);
    position: absolute;
    top: -40px;
    /* left: 383px; */
    right: 8px;
}
@media only screen and (min-width:768px) {
    .pictos img{
        height: 35px;
        width: auto;
    }
    .pictos h4{
        font-size: 10px;
    }
    .pictos .divisory{
        width: 120%;
    }
    .pictos p{
        font-size: 12px;
    }
}
@media only screen and (min-width:992px) {
    .pictos img{
        height: 40px;
    }
    .pictos h4{
        font-size: 14px;
    }
    .pictos .divisory{
        width: 113%;
    }
    .pictos p{
        font-size: 14px;
    }
}
@media only screen and (min-width:1200px) {
    .main-marks td img{
        width: 70%;
    }
    .main-marks td img.width-fifty{
        width: 50%;
    }
    .pictos img{
        height: 50px;
    }
    .pictos .divisory{
        width: 108%;
    }
    .pictos p{
        font-size: 1em;
    }
}




















/*--------------------------------Footer--------------------------------------*/
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,67,95,0.56);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8125em;
    
}