/* 
    Created on : 24/05/2015, 20:28:35
    Author     : dan
*/
/*----------------------------GENERAL CLASSES---------------------------------*/
body{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: url(../images/Background-mob.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position:absolute;
}
.wrapper{
    min-height:100%;
}
a{
    color: #fff;
    display: block;
}
a:focus{
    text-decoration: none;
}
h2, .h2{
    font-size: 24px;
}
h3, .h3{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 21px;
}
h4, .h4{
    font-size: 18px;
    margin-bottom: 21px;
    line-height: 21px;
}
.margin-text-picto{
    margin-top: 44px;
}
.margin-picto{
    margin-top: 24px;
}
@media only screen and (min-width:768px) {
    body{
        background: url(../images/Background-web.png) no-repeat center center fixed;
         -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        width: 100%;
        position:absolute;
    }
    h2, .h2{
        font-size: 20px;
    }
}
@media only screen and (min-width:992px) {
    h2, .h2{
        font-size: 22px;
    }
}
@media only screen and (min-width:1200px) {
    h2, .h2{
        font-size: 24px;
    }
}
/*-----------------------------Header--------------------------------------*/
.navbar-toggle {
    float: left;
    margin-left: 12%;
    background-color: rgba(0,67,95,0.5);
    font-size: 31px;
    /* width: 55px; */
    border-radius: 0;
    padding: 0 10px;
    margin-top: 15px;
    margin-right: 5px;
}
.navbar-nav {
    margin: 0;
}
.nav-logo{
    background-color: rgba(0,67,95,0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-logo> a > img {
    height: 42px;
}
.navbar-diplonautic{
    background-color: rgba(0,67,95,0.7);
    font-size: 0.8125em;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 15px;
}
.navbar-diplonautic>.navbar-nav>ul{
    margin: 0;
}
.navbar-diplonautic>.navbar-nav>li{
    text-align: left;
}
.navbar-diplonautic>.navbar-nav>li>a {
    min-width: 187px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
}
.navbar-diplonautic>.navbar-nav>li:last-child>a {
    border-bottom: none;
}

.active,
.languages a:active,
.languages a:focus,
.navbar-diplonautic>.navbar-nav>li>a:active{
    background-color: rgba(255,255,255,0.5);
    color: #fff;
    text-decoration: none;
}
.languages a:hover,
.navbar-diplonautic>.navbar-nav>li>a:hover{
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    text-decoration: none;
}
.navbar-diplonautic>.navbar-nav>li:first-child>a{
    border-left: none;
}

@media only screen and (min-width:768px) {
    .nav-logo{
        width: 24.8%;
        padding-top: 29px;
        padding-bottom: 29px;
        min-height: 85px;
    }
    .nav-logo> a > img {
        height: 26px;
    }
    .navbar-diplonautic{
        margin-top: 0px;
        display: block;
    }
    .navbar-diplonautic>.navbar-nav>li{
        text-align: center;
    }
/*    .navbar-diplonautic>.navbar-nav>li>a{
        min-width: 106px;
        padding-top: 33px;
        padding-bottom: 32px;
        border-bottom: 0px;
        font-size: 14px;
    }*/
    .navbar-diplonautic>.navbar-nav>li>a{
        min-width: 114px;
        padding-top: 33px;
        padding-bottom: 32px;
        border-bottom: 0px;
        font-size: 12px;
        padding: 34px 10px 33px;
        height: 85px;
    }
    .division{
        width: 0.2%;
        min-height: 12px;
        float: left;
    }
    .navbar-diplonautic>.navbar-nav>li:after{
        border-right: 1px solid;
        content: "";
        position: absolute;
        height: 19px;
        right: 0px;
        top: 33px;
    }
/*    .navbar-diplonautic>.navbar-nav>li.active:after{
        border-right: 0px;
    }*/
    
    .navbar-diplonautic>.navbar-nav>li:last-child:after{
        border-right: none;
    }
}
@media only screen and (min-width:992px) {
    .nav-logo{
        width: 33.133333%;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .nav-logo> a > img {
        height: 50px;
    }
    .navbar-diplonautic>.navbar-nav>li>a{
        min-width: 132px;
    }
}
@media only screen and (min-width:1200px) {
    .nav-logo{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-logo> a > img {
        height: 60px;
    }
    .navbar-diplonautic>.navbar-nav>li>a{
        min-width: 164px;
        font-size: 14px;
    }
}
/*--------------------------------home----------------------------------------*/
.main{
    margin: 10% 0;
}
.main-description{
    background-color: rgba(0,67,95,0.8);
/*    min-height: 425px;*/
    padding: 37px 74px;
}
.main-opportunities{
    background-color: rgba(0,67,95,0.8);
    min-height: 425px;
    padding: 37px 25px;
}

.main-description img{
    width: 100%;
}
.main-description ul{
    list-style: none;
    padding: 0px;
}
.main-marks{
    background-color: #fff;
    padding-top: 3px;
/*    height: 425px;*/
/*    padding: 30px;*/
}
/*.main-marks td{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}*/
.main-marks img{
    width: 100%;
}

.main-description-product{
    background-color: rgba(0,67,95,0.8);
    min-height: 425px;
    padding: 37px;
}
.main-description-product img{
    height: 50px;
    width: auto;
}
.languages{
    padding-right: 0px;
}
.languages #cat,
.languages #en{
    background-color: rgba(0,67,95,0.5);
    margin-bottom: 6px;
}
.languages a{
    display: block;
    padding: 8px;
}

.main-description.pictos{
    padding-top: 57px;
}
.divisory{
    border-bottom: 1px solid #fff;
    width: 100%;
    right: 73px;
    position: relative;
    margin-bottom: 22px;
}

.divisory .sub-div1 {
    width: 31px;
    height: 15px;
    border-bottom: 1px solid white;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-60deg);
    position: absolute;
    top: -44px;
    /* left: 383px; */
    right: -12px;
}
.divisory .sub-div2 {
    width: 21px;
    height: 15px;
    border-bottom: 1px solid white;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-60deg);
    position: absolute;
    top: -40px;
    /* left: 383px; */
    right: 8px;
}
.pictos a:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.pictos a h4:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
@media only screen and (min-width:768px) {
    .pictos img{
        height: 35px;
        width: auto;
    }
    .pictos h4{
        font-size: 10px;
    }
    .pictos .divisory{
        width: 120%;
    }
    .pictos p{
        font-size: 12px;
    }
    .main{
        margin: 16% 0 3%;
    }
}
@media only screen and (min-width:992px) {
    .pictos img{
        height: 40px;
    }
    .pictos h4{
        font-size: 16px;
    }
    .pictos .divisory{
        width: 113%;
    }
    .pictos p{
        font-size: 13px;
    }
    .main{
        margin: 8% 0 3%;
    }
}
@media only screen and (min-width:1200px) {
    .pictos img{
        height: 50px;
    }
    .pictos .divisory{
        width: 110%;
    }
    .pictos p{
        font-size: 14px;
    }
/*    .main{
        margin: 8% 0 3%;
    }*/
}



.pad-left{
    padding-left: 0px;
}
.main-opportunities .item{
    display: block;
    position: relative;
    overflow: hidden;
}
.main-opportunities .item img{
    display: block;
    position: relative;
    height: 322px;
    width: auto;
    overflow: hidden;
}
.main-opportunities .item .simple-caption {
    position: absolute; 
    background: rgba(0,67,95,0.8); 
    color: white;
    padding: 10px 20px; 
    width: 100%;
    opacity: 0;
    bottom: -30%; 
    left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
}

.main-opportunities .item:hover .simple-caption {
    opacity: 1;
    bottom: 0;
}
.cap-bot .simple-caption { left: 0; bottom: -30%;}
.cap-bot:hover .simple-caption { bottom: 0; }

.op-intro{
    padding: 35px;
    min-height: 250px;
}








/*--------------------------------Footer--------------------------------------*/
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,67,95,0.56);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8125em;
}
.footer-section{
    margin-left: 40px;
}
